<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:fragment="header">
    <!-- 아이콘 -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,1,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <!-- 전체 폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hahmlet:wght@100..900&display=swap" rel="stylesheet">
    <!-- 로고 폰트 -->
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
    <!-- css -->
    <link rel="stylesheet" th:href="@{/css/common/header.css}">
    <link rel="stylesheet" th:href="@{/css/common/default.css}">
    <link rel="stylesheet" th:href="@{/css/qna/qnaList.css}">
    <link rel="stylesheet" th:href="@{/css/qna/qnaDetail.css}">
    <!-- axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- jquery -->
<!--    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>-->

    <div class="header-wrapper">
        <div class="header">
            <div class="left-box">
                <div>
                    <a href="/" class="logo"><img src="https://cdn0.iconfinder.com/data/icons/christmas-time-02/91/Christmas_-_Celebrate_-_New_Year_28-512.png" alt="Logo"></a>
                </div>
                <div class="menu">
                    <a href="/animal-map/mml">야생동물 지도</a>
                    <a href="/support/list">후원하기</a>
                    <a href="/qna/list">QnA</a>
                </div>
            </div>
            <div class="right-box">
                <a href="/auth/login" class="button-login btn bc3 bs1" style="display: none;">로그인</a>
                <a href="/auth/signup/main" class="button-join btn bc5 bs1" style="display: none;">회원가입</a>
                <a href="/member/profile" class="button-mypage btn bc3 bs1" style="display: none;">My Page</a>
                <a class="button-logout btn bc5 bs1" style="display: none;">로그아웃</a>
            </div>
        </div>
    </div>

    <script th:src="@{/js/common/checkToken.js}"></script>
    <script>

        document.addEventListener('DOMContentLoaded', function() {
            checkLoginStatus(); //로그인 여부 따라 헤더 버튼 수정
            moveMenuItem(); //현재 있는 탭 표시
        });

        //로그인 상태 확인, 헤더 버튼 표시 함수
        function checkLoginStatus() {
            const token = localStorage.getItem('accessToken');

            if (token) {
                //토큰이 있는 경우 (로그인)
                document.querySelector('.button-login').style.display = 'none';
                document.querySelector('.button-join').style.display = 'none';
                document.querySelector('.button-mypage').style.display = 'block';
                document.querySelector('.button-logout').style.display = 'block';
            } else {
                //토큰이 없는 경우 (로그아웃)
                document.querySelector('.button-mypage').style.display = 'none';
                document.querySelector('.button-logout').style.display = 'none';
                document.querySelector('.button-login').style.display = 'block';
                document.querySelector('.button-join').style.display = 'block';
            }
        }

        //현재 있는 탭에 menu-acitve 클래스 추가 함수
        function moveMenuItem() {
            //현재 URL에 따라 클래스 추가
            var currentPath = window.location.pathname;

            var menuItems = document.querySelectorAll('.menu a');
            menuItems.forEach(function(item) {
                item.classList.remove('menu-active'); // 모든 메뉴에서 클래스 제거
            });

            var qnaMenuItem = document.querySelector('.menu a[href^="/qna"]');
            var supportMenuItem = document.querySelector('.menu a[href^="/support"]');
            var animalMapMenuItem = document.querySelector('.menu a[href^="/animal-map"]');

            if (qnaMenuItem && currentPath.startsWith("/qna")) {
                qnaMenuItem.classList.add('menu-active');
            } else if (supportMenuItem && currentPath.startsWith("/support")) {
                supportMenuItem.classList.add('menu-active');
            } else if (animalMapMenuItem && currentPath.startsWith("/animal-map")) {
                animalMapMenuItem.classList.add('menu-active');
            }
        }

        /*로그아웃 요청 함수*/
        function logout(token) {
            axios.get('/auth/logout', {
                headers: {
                    'Authorization': 'Bearer ' + token
                }
            }).then(function(response) {
              console.log(response.data);
              removeTokenInLocalStorage();
              //window.location.href = '/';
            })
            .catch(function(error) {
              console.error(error);
            });
        }

        //로그아웃
        document.querySelector('.button-logout').addEventListener('click', function() {
            const token = localStorage.getItem('accessToken');
            logout(token);
        });
    </script>
</header>
</html>