<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:fragment="header">
    <!-- 아이콘 -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,1,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <!-- 전체 폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hahmlet:wght@100..900&display=swap" rel="stylesheet">
    <!-- 로고 폰트 -->
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
    <!-- css -->
    <link rel="stylesheet" th:href="@{/css/common/header.css}">
    <link rel="stylesheet" th:href="@{/css/common/default.css}">
    <link rel="stylesheet" th:href="@{/css/qna/qnaList.css}">
    <link rel="stylesheet" th:href="@{/css/qna/qnaDetail.css}">
    <!-- axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <div class="header-wrapper">
        <div class="header">
            <div class="left-box">
                <div>
                    <a href="/" class="logo"><img src="https://cdn0.iconfinder.com/data/icons/christmas-time-02/91/Christmas_-_Celebrate_-_New_Year_28-512.png" alt="Logo"></a>
                </div>
                <div class="menu">
                    <a href="/animal-map/mml">야생동물 지도</a>
                    <a href="/support/list">후원하기</a>
                    <a href="/qna/list">QnA</a>
                </div>
            </div>
            <div class="right-box">
                <a href="/auth/login" class="button-login btn bc3 bs1" style="display: none;">로그인</a>
                <a href="/auth/signup/main" class="button-join btn bc5 bs1" style="display: none;">회원가입</a>
                <a href="/member/profile" class="button-mypage btn bc3 bs1" style="display: none;">My Page</a>
                <a class="button-logout btn bc5 bs1" style="display: none;">로그아웃</a>
                <a href="/admin/member/list" class="button-admin btn bc5 bs1" style="display:none;">관리자 페이지</a>
            </div>
        </div>
    </div>

    <script th:src="@{/js/common/checkToken.js}"></script>
    <script th:src="@{/js/common/default.js}"></script>
    <script th:src="@{/js/login/logout.js}"></script>
    <script th:src="@{/js/common/header.js}"></script>
</header>
</html>