<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:fragment="loginJoinHeader">
    <!-- 아이콘 -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,1,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <!-- 전체 폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hahmlet:wght@100..900&display=swap" rel="stylesheet">
    <!-- 로고 폰트 -->
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
    <!-- css -->
    <link rel="stylesheet" th:href="@{/css/common/default.css}">
    <link rel="stylesheet" th:href="@{/css/common/loginJoinHeader.css}">
    <link rel="stylesheet" th:href="@{/css/join/join.css}">
    <link rel="stylesheet" th:href="@{/css/login/login.css}">
    <!-- axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <div class="header-wrapper">
        <div class="header">
            <div class="left-box">
                <a href="/" class="site-name"><span style="color: #445D48;">W</span><span style="color: #996F5E;">A</span><span style="color: #BFB374">M</span></a>
            </div>
        </div>
    </div>
</header>
</html>