<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>모든 회원 목록</title>
</head>
<body>
<!-- adminMenu 영역 참조 -->
<div th:insert="~{admin/adminMenu :: adminMenu}"></div>

<div class="memberList-wrapper admin-content">
    <div class="list-wrapper">
        <div class="memberList-top list-top">
            <div class="list-title">모든 회원 목록</div>
            <table id="memberTable">
                <tr>
                    <th class="th-id">No</th>
                    <th class="th-writer">이름</th>
                    <th>이메일</th>
                    <th>닉네임</th>
                    <th class="th-create-date">가입일</th>
                    <th class="th-status">권한</th>
                    <th class="th-delete-btn"></th>
                </tr>
                <tbody id="memberTableBody">
            </table>
            <div id="pagination">
            </div>
        </div>
        <div class="list-bottom">
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        loadMemberList(0);
    });
</script>
</body>
</html>