<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<!-- adminMenu 영역 참조 -->
<div th:insert="~{admin/adminMenu :: adminMenu}"></div>

<div class="supportList-wrapper admin-content">
    <div class="list-wrapper">
        <div class="supportList-top list-top">
            <div class="list-title">모든 후원 목록</div>
            <table id="supportTable">
                <tr>
                    <th class="th-id">No</th>
                    <th>제목</th>
                    <th class="th-writer">작성자</th>
                    <th class="th-amount">목표 금액</th>
                    <th class="th-amount">모인 금액</th>
                    <th class="th-create-date">작성일</th>
                    <th class="th-delete-btn"></th>
                </tr>
                <tbody id="supportTableBody">
            </table>
            <div id="pagination">
            </div>
        </div>
        <div class="list-bottom">
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function() {
        loadSupportList(0);
    });
</script>
</body>
</html>