<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원 탈퇴</title>
</head>
<body>
<!-- header 영역 참조 -->
<header th:insert="~{/common/header :: header}"></header>

<div class="leaveMember-wrapper page-content">
    <!-- mypageMenu 영역 참조 -->
    <div th:insert="~{mypage/mypageMenu :: mypageMenu}"></div>

    <div class="mypage-detail">
        <div class="mypage-title page-title">회원 탈퇴</div>
        <div class="content-wrap">
            <div class="check-pw">
                <div class="mypage-detail-title">본인 확인을 위해 비밀번호를 입력해주세요.</div>
                <div>
                    <input type="hidden" id="memberId">
                    <input type="password" id="password" placeholder="비밀번호 입력" class="input-form" required>
                </div>
                <div class="check-notice">※ 탈퇴가 완료된 계정은 다시 복구할 수 없습니다.</div>
            </div>
            <div class="check-agree">
                <label><input type="checkbox" id="quit-agreement" value="agree">위 내용을 이해했습니다.</label>
            </div>
        </div>
        <div class="foot-btn">
            <button class="leaveMember-btn btn bc66">회원 탈퇴</button>
        </div>
    </div>
</div>

<!-- footer 영역 참조 -->
<footer th:insert="~{/common/footer :: footer}"></footer>
<script th:src="@{/js/mypage/leaveMember.js}"></script>
</body>
</html>