<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<!-- header 영역 참조 -->
<header th:insert="~{/header :: header}"></header>

<div class="likeList-wrapper page-content">
    <!-- mypageMenu 영역 참조 -->
    <div th:insert="~{mypage/mypageMenu :: mypageMenu}"></div>

    <div class="list-wrapper mypage-detail">
        <div class="likeList-top list-top">
            <div class="list-title">나의 좋아요 목록</div>
            <table id="likeTable">
                <tr>
                    <th>번호</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>작성일</th>
                    <th style="width: 10%">상태</th>
                    <th style="width: 10%"></th>
                </tr>
                <tbody id="likeTableBody">
            </table>
            <div class="w3-center">
                <ul id="pagination" class="w3-pagination"></ul>
            </div>
        </div>
        <div class="list-bottom">
        </div>
    </div>
</div>

<!-- footer 영역 참조 -->
<footer th:insert="~{/footer :: footer}"></footer>

<script th:src="@{/js/common/pagination.js}"></script>
<script>
    //페이지 로드 시 첫 번째 페이지 좋아요 목록을 불러옴
    loadList(0);

    //페이지 로드 시 좋아요한 목록을 테이블에 표시하는 함수
    function loadList(page) {
        //토큰을 로컬 스토리지에서 가져오기
        const token = getToken();

        axios.get(`/member/like/${page}`, {
            headers: {
                'Authorization': 'Bearer ' + token
            }
        }).then(function(response) {
            //서버로부터 받은 데이터를 테이블에 추가
            var likeList = response.data.content;
            var tableBody = document.querySelector('#likeTableBody');
            tableBody.innerHTML = ''; //테이블 내용 초기화

            likeList.forEach(function(like) {
                var row = `<tr>
                            <td>${like.supportId}</td>
                            <td>${like.title}</td>
                            <td>${like.nickname}</td>
                            <td>${like.createDate}</td>
                            <td><button class="answer-btn btn bs1 bc3}" style="cursor: default;">${like.supportStatus === 'START' ? '후원 시작' : like.supportStatus === 'SUPPORTING' ? '후원중' : '후원 종료'}</button></td>
                            <td><button class="deleteLike-btn btn bs1 bc6">삭제</button></td>
                        </tr>`;
                tableBody.innerHTML += row; // 행 추가
            });

            //페이지 내비게이션 업데이트
            renderPagination(response.data.totalPages, page);

            //삭제 버튼에 이벤트 리스너 추가
            tableBody.querySelectorAll('.deleteLike-btn').forEach(function(button) {
                button.addEventListener('click', function() {
                    var supportId = this.parentNode.parentNode.firstElementChild.textContent;
                    console.log(supportId);

                    if (confirm("정말로 좋아요를 삭제하시겠습니까?")) {
                        //사용자가 확인을 누르면 컨트롤러 호출
                        axios.delete('/support/'+supportId+'/like', {
                            headers: {
                                'Authorization': 'Bearer ' + token
                            }
                        }).then(function(response) {
                            //요청이 성공한 경우
                            console.log(response);
                            alert("좋아요 삭제가 완료되었습니다.");

                            //페이지 로드
                            loadLikeList(page);
                        })
                        .catch(function(error) {
                            //요청이 실패한 경우
                            console.error(error);
                            alert("좋아요 삭제에 실패하였습니다.");
                        });
                    }
                });
            });
        }).catch(function(error) {
            console.error(error);
        });
    }
</script>
</body>
</html>