<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원 정보 수정</title>
</head>
<link rel="icon" href="data:;base64,iVBORw0KGgo=">
<body>
<!-- header 영역 참조 -->
<header th:insert="~{common/header :: header}"></header>

<div class="mymember-wrapper page-content">
    <!-- mypageMenu 영역 참조 -->
    <div th:insert="~{mypage/mypageMenu :: mypageMenu}"></div>

    <div class="mypage-detail">
        <div class="mypage-title page-title">회원 정보 변경</div>
        <div class="content-wrap">
            <input type="hidden" name="memberId" id="memberId">
            <div class="update-input-wrap">
                <div>※ 모든 정보를 입력해주셔야 일반 회원이 됩니다.</div>
                <div>
                    <label for="email" class="user-bold">이메일</label>
                    <div>
                        <input type="email" id="email" class="input-form input-update" disabled>
                    </div>
                </div>
                <div>
                    <label for="name" class="bold user-bold">이름</label>
                    <div>
                        <span class="material-symbols-outlined check-circle">check_circle</span>
                        <input type="text" id="name" class="input-form">
                        <span class="reg-msg"></span>
                    </div>
                </div>
                <div>
                    <label for="nickname" class="bold user-bold">닉네임</label>
                    <div>
                        <span class="material-symbols-outlined check-circle">check_circle</span>
                        <input type="text" id="nickname" class="input-form input-update">
                        <span class="reg-msg"></span>
                    </div>
                </div>
                <div>
                    <label for="phoneNumber" class="bold user-bold">휴대폰 번호</label>
                    <div>
                        <span class="material-symbols-outlined check-circle">check_circle</span>
                        <input type="text" id="phoneNumber" class="input-form input-update">
                        <span class="reg-msg"></span>
                    </div>
                </div>
                <div>
                    <label for="password" class="bold user-bold">비밀번호</label>
                    <div>
                        <span class="material-symbols-outlined check-circle">check_circle</span>
                        <input type="password" id="password" placeholder="현재 비밀번호" class="input-form input-update password">
                        <span class="reg-msg"></span>
                    </div>
                    <div>
                        <span class="material-symbols-outlined check-circle">check_circle</span>
                        <input type="password" id="newPw" placeholder="새 비밀번호" class="input-form input-update password">
                        <span class="reg-msg"></span>
                    </div>
                    <div>
                        <span class="material-symbols-outlined check-circle">check_circle</span>
                        <input type="password" id="checkPw" placeholder="새 비밀번호 확인" class="input-form input-update password">
                        <span class="reg-msg"></span>
                    </div>
                    <div class="pw-change-notice">
                        <div class="bold">비밀번호 변경 시 유의사항</div>
                        <ul>
                            <li>· 영문, 숫자, 특수문자 조합으로 이루어진 8 ~ 15자로 입력해주세요.</li>
                            <li>· 입력 후 비밀번호 변경을 클릭해주세요.</li>
                        </ul>
                        <button id="updatePwBtn" class="btn bc000 bc777">비밀번호 변경</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="foot-btn">
            <button id="updateMemberBtn" class="updateMember-btn btn bc4">정보 수정</button>
        </div>
    </div>
</div>

<!-- footer 영역 참조 -->
<footer th:insert="~{common/footer :: footer}"></footer>

<script th:src="@{/js/common/regex.js}"></script>
<script th:src="@{/js/common/pwRegex.js}"></script>
<script th:src="@{/js/mypage/myMember.js}"></script>
</body>
</html>