<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<div th:fragment="mypageMenu">
    <!-- css -->
    <link rel="stylesheet" th:href="@{/css/mypage/mypageMenu.css}">
    <link rel="stylesheet" th:href="@{/css/mypage/mypageDefault.css}">
    <link rel="stylesheet" th:href="@{/css/mypage/mypageTable.css}">

    <div class="mypage-menu-wrapper">
        <div class="left-menu">
            <div class="left-menu-title">
                <a href="/">
                    <div class="waveEffect">
                        <p class="menu-title" style="font-family: 'Righteous', cursive;">MY PAGE</p>
                    </div>
                </a>
            </div>
            <div class="left-menu-content">
                <ul class="left-menu-list">
                    <li>
                        <div class="menu-detail-title detail-notice"></div>
                    </li>
                    <li id="adminPage" style="display:none;">
                        <div class="menu-detail-title admin-line">
                            <span class="material-symbols-outlined title-icon">admin_panel_settings</span>
                            <a href="/admin/member/list">관리자 페이지</a>
                        </div>
                    </li>
                    <li>
                        <div class="menu-detail-title">
                            <span class="material-symbols-outlined title-icon">group</span>
                            <a href="/member/profile">회원 정보 수정</a>
                        </div>
                    </li>
                    <li>
                        <div class="menu-detail-title">
                            <span class="material-symbols-outlined title-icon">favorite</span>
                            <a href="/member/like">좋아요 목록</a>
                        </div>
                    </li>
                    <li>
                        <div class="menu-detail-title">
                            <span class="material-symbols-outlined title-icon">inventory</span>
                            <a href="/member/support">나의 후원 목록</a>
                        </div>
                    </li>
                    <li>
                        <div class="menu-detail-title">
                            <span class="material-symbols-outlined title-icon">help</span>
                            <a href="/member/qna">나의 QnA 목록</a>
                        </div>
                    </li>
                    <li>
                        <div class="menu-detail-title">
                            <span class="material-symbols-outlined title-icon">person_cancel</span>
                            <a href="/member/leave">회원 탈퇴</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <script>
        //마이페이지에서 사용할 Access Token
        const token = localStorage.getItem('accessToken');
        const payload = getPayloadData(token);  //payload에서 데이터 가져오기

        moveMyMenuItem();   //현재 있는 메뉴 표시
        renderMenu(payload.auth);   //메뉴에 사용자의 권한 표시


        /*현재 있는 탭에 mypage-menu-active 클래스 추가하는 함수*/
        function moveMyMenuItem() {
            var currentPath = window.location.pathname;

            var menuItems = document.querySelectorAll(".menu-detail-title");
            menuItems.forEach(function(title) {
                var link = title.querySelector("a");
                if (link && link.getAttribute("href") === currentPath) {
                    //자식 요소들에 클래스 추가
                    for (var i = 0; i < title.children.length; i++) {
                        title.children[i].classList.add("mypage-menu-active");
                    }
                }
            });
        }

        /*회원 권한에 따라 메뉴 안내 변경하는 함수*/
        function renderMenu(authority) {
            var noticeElement = document.querySelector(".detail-notice");

            if (authority === "ROLE_GUEST") {
                noticeElement.textContent = "현재 임시 회원입니다!";
            } else if (authority === "ROLE_USER") {
                noticeElement.textContent = "현재 일반 회원입니다!";
            } else if (authority === "ROLE_ADMIN") {
                noticeElement.textContent = "관리자 권한입니다!";
                //관리자 페이지 링크 보이기
                const adminPageLink = document.querySelector('#adminPage');
                adminPageLink.style.display = 'block';
            }
        }
    </script>
</div>
</html>