<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<!-- mypageMenu 영역 참조 -->
<div th:insert="~{mypage/mypageMenu :: mypageMenu}"></div>

<div class="qnaList-wrapper mypage-content">
    <div class="list-wrapper">
        <div class="qnaList-top list-top">
            <div class="list-title">나의 QnA 목록</div>
            <table id="qnaTable">
                <tr>
                    <th>No</th>
                    <th>제목</th>
                    <th>조회수</th>
                    <th>작성일</th>
                    <th>답변여부</th>
                </tr>
                <tbody id="qnaTableBody">
            </table>
            <div id="pagination">
            </div>
        </div>
        <div class="list-bottom">
        </div>
    </div>
</div>

<script>
    //현재 페이지 번호를 저장할 변수
    var currentPage = 0;

    //페이지 로드 시 QnA 목록을 테이블에 표시하는 함수
    function loadQnaList(page) {
        //토큰을 로컬 스토리지에서 가져오기
        const token = localStorage.getItem('accessToken');

        axios.get(`/member/qna/${page}`, {
            headers: {
                'Authorization': 'Bearer ' + token
            }
        }).then(function(response) {
            //서버로부터 받은 데이터를 테이블에 추가
            var qnaList = response.data.content;
            var tableBody = document.querySelector('#qnaTableBody');
            tableBody.innerHTML = ''; //테이블 내용 초기화
            var num = 1;

            qnaList.forEach(function(qna) {
                var row = `<tr>
                            <td style="display: none;">${qna.qnaId}</td>
                            <td>${num}</td>
                            <td>${qna.title}</td>
                            <td>${qna.viewCount}</td>
                            <td>${qna.createDate}</td>
                            <td><button class="answer-btn btn bs1 ${qna.qnaCheck === 'CHECKING' ? 'bc3' : 'bc2'}" style="cursor: default;">${qna.qnaCheck === 'CHECKING' ? '확인 중' : '답변 완료'}</button></td>
                        </tr>`;
                tableBody.innerHTML += row; // 행 추가
                num++;
            });

            //페이지 내비게이션 업데이트
            //renderPagination('Qna', response.data.totalPages, page);
        })
        .catch(function(error) {
            console.error(error);
        });
    }

    //페이지 로드 시 첫 번째 페이지 QnA 목록을 불러옴
    loadQnaList(currentPage);
</script>
</body>
</html>