<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>나의 후원 목록</title>
</head>
<body>
<!-- header 영역 참조 -->
<header th:insert="~{common/header :: header}"></header>

<div class="supportList-wrapper page-content">
    <!-- mypageMenu 영역 참조 -->
    <div th:insert="~{mypage/mypageMenu :: mypageMenu}"></div>

    <div class="list-wrapper mypage-detail">
        <div class="supportList-top list-top">
            <div class="list-title">나의 후원 목록</div>
            <table id="supportTable">
                <tr>
                    <th class="th-id">No</th>
                    <th>제목</th>
                    <th class="th-amount">목표 금액</th>
                    <th class="th-amount">모인 금액</th>
                    <th class="th-create-date">작성일</th>
                    <th class="th-status">상태</th>
                </tr>
                <tbody id="supportTableBody">
            </table>
            <div class="w3-center">
                <ul id="pagination" class="w3-pagination"></ul>
            </div>
        </div>
        <div class="list-bottom">
        </div>
    </div>
</div>

<!-- footer 영역 참조 -->
<footer th:insert="~{common/footer :: footer}"></footer>

<script th:src="@{/js/common/pagination.js}"></script>
<script th:src="@{/js/mypage/mySupport.js}"></script>
</body>
</html>