<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<!-- mypageMenu 영역 참조 -->
<div th:insert="~{mypage/mypageMenu :: mypageMenu}"></div>

<div class="supportList-wrapper mypage-content">
    <div class="list-wrapper">
        <div class="supportList-top list-top">
            <div class="list-title">나의 후원 목록</div>
            <table id="supportTable">
                <tr>
                    <th>No</th>
                    <th>제목</th>
                    <th>목표 금액</th>
                    <th>모인 금액</th>
                    <th>작성일</th>
                </tr>
                <tbody id="supportTableBody">
            </table>
            <div id="pagination">
            </div>
        </div>
        <div class="list-bottom">
        </div>
    </div>
</div>
</body>
</html>