<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<!-- header 영역 참조 -->
<header th:insert="~{/header :: header}"></header>

<div class="supportList-wrapper page-content">
    <!-- mypageMenu 영역 참조 -->
    <div th:insert="~{mypage/mypageMenu :: mypageMenu}"></div>

    <div class="list-wrapper mypage-detail">
        <div class="supportList-top list-top">
            <div class="list-title">나의 후원 목록</div>
            <table id="supportTable">
                <tr>
                    <th>번호</th>
                    <th>제목</th>
                    <th>목표 금액</th>
                    <th>모인 금액</th>
                    <th>작성일</th>
                    <th style="width: 10%">상태</th>
                </tr>
                <tbody id="supportTableBody">
            </table>
            <div class="w3-center">
                <ul id="pagination" class="w3-pagination"></ul>
            </div>
        </div>
        <div class="list-bottom">
        </div>
    </div>
</div>

<!-- footer 영역 참조 -->
<footer th:insert="~{/footer :: footer}"></footer>

<script th:src="@{/js/common/pagination.js}"></script>
<script>
   //페이지 로드 시 첫 번째 페이지 Support 목록을 불러옴
   loadList(0);

   //페이지 로드 시 Support 목록을 테이블에 표시하는 함수
   function loadList(page) {
       //토큰을 로컬 스토리지에서 가져오기
       const token = getToken();

       axios.get(`/member/support/${page}`, {
           headers: {
               'Authorization': 'Bearer ' + token
           }
       }).then(function (response) {
           //서버로부터 받은 데이터를 테이블에 추가
           var supportList = response.data.content;
           var tableBody = document.querySelector('#supportTableBody');
           tableBody.innerHTML = ''; //테이블 내용 초기화

           supportList.forEach(function (support) {
               var row = `<tr>
                           <td>${support.supportId}</td>
                           <td>${support.title}</td>
                           <td>${support.goalAmount}</td>
                           <td>${support.supportAmount}</td>
                           <td>${support.createDate}</td>
                           <td><button class="answer-btn btn bs1 bc3}" style="cursor: default;">${support.supportStatus === 'START' ? '후원 시작' : support.supportStatus === 'SUPPORTING' ? '후원중' : '후원 종료'}</button></td>
                       </tr>`;
               tableBody.innerHTML += row; // 행 추가
           });

           //페이지 내비게이션 업데이트
           renderPagination(response.data.totalPages, page);
       })
       .catch(function (error) {
           console.error(error);
       });
   }
</script>
</body>
</html>