.QnAHeader-wrapper{
    max-height: max-content;
    max-width: max-content;
    margin-bottom: 30px;
}


/*이미지*/
.D-left-box {
    float: left; /* 왼쪽으로 정렬 */
    border-radius: 100%;
    background-color: #f0f0f0;
    height: 80px;
    width: 80px;
    margin-right: 15px;
}
.D-left-box img {
    width:100%;
    height:100%;
    object-fit:cover;
}


/*사용자, 게시글 정보*/
.D-right-box {
    overflow: hidden; /* 자식 요소의 float 속성에 영향을 받지 않도록 처리 */
    align-items: center;
    justify-content: center;
    padding-top: 20px;
}
.D-top{
    font-weight: 700;
    text-align: left;
    margin-bottom: 5px;
}
.D-bottom{
    display: flex;
}
.D-bottom *{
    color: #808080;
}
.D-date{
    margin-right: 10px;
}
.D-viewCount{
    display: flex;
}
.D-viewCount>span:first-child{
    margin-left: 10px;
    margin-right: 5px;
}


/*제목*/
.D-title{
    font-size: 30px;
    font-weight: 600;
}
.D-titleBox{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
    border-bottom: 3px solid #f0f0f0;
}


/*본문*/
.D-textarea{
    padding: 50px 10px 130px 10px;
    border-bottom: 3px solid #f0f0f0;
    width: 1150px;
    min-height: 200px;
}
.D-textarea img{
    max-width: 1150px;
}
/*작성자 버튼*/
.D-writer{
    display: flex;
    justify-content: right;
    margin-top: 10px;
}
.D-writer>button:first-child{
    margin-right: 10px;
}
.D-writer>button{
    width: 8%;
}
/*답변 작성 버튼*/
.btn-answer{
    margin-top: 30px;
    min-width: 800px;
}
.D-answer .btn{
    width: 100%;
}
/*답변 상태 버튼*/
.answer-comp{
    pointer-events: none;
}


/*답변 입력창*/
.D-answer>.input-form{
    margin-top: 50px;
    min-height: 300px;
}
#answerContent{
    padding-top: 30px;
}
#answerContent>div{
    padding: 0 10px 80px 10px;
}
.answer-date{
    color: #a9a9a9;
    margin-bottom: 20px;
    display: flex;
    justify-content: right;
}
.answer-content{
    width: 100%;
}