.QnAlist-wrapper{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}


/*테이블*/
.header-list{
    min-width: 1150px;
    height: 50px;
    border-radius: 7px;
    border: 2px solid #F5F5F5;
    border-spacing: 0;
}
.header-list th{
    background-color: #f6f6f1;
    font-weight: 600;
}
.header-list tr:hover{
    background-color: #fafafa;
}
.header-list th, td{
    border-bottom: 1px solid #f2f2f2;
    word-break:break-all;
    padding: 10px 5px 10px 5px;
}


/*th 크기*/
.header-list th:nth-child(1){
    width: 8%;
}
.header-list th:nth-child(3){
    width: 17%;
}
.header-list th:nth-child(4){
    width: 13%;
}
.header-list th:nth-child(5){
    width: 12%;
}
.header-list th:nth-child(6){
    width: 10%;
}


/*QnA 상태 버튼*/
#qnaTableBody .answer-btn{
    pointer-events: none;
    width: 80%;
}