/* 로그인페이지 */
.login-wrapper {
    display: flex;
    justify-content: center; /* 사용자 화면 창과 관계 없이 가운데로 정렬하기 3종 세트 */
    text-align: center; /* 텍스트 가운데 정렬 플러스*/
    height: 65vh; /* 뷰포트 높이의 65% */
    padding-top: 6%;
}
.login-wrapper>.content-box{
    position: absolute;
    width: 550px;
    height: 185px;
}
.typing-box{
    width: 60%;
    margin: 0 auto;
    padding: 15px 0 15px 0;
}
.login-header{
    text-align: center;
    font-weight: 600;
    font-size: 35px;
    border-bottom: 2px solid #a8adb4;
    padding: 10px;
}
.dass1{
    padding-bottom: 10px;
}
div>.input-form{
    background-color: #f0f0f0;
}
.empx span {
    text-align: left;
    display: inline-block; /* span을 block 요소로 변경하여 width 속성이 적용되도록 함 */
    width: 100%; /* 부모 요소의 너비에 맞추기 위해 100%로 설정 */
    padding: 5px;
}
.dass1>.email{
    position: absolute;
}

/* 소셜 아이디로 로그인 */
.find-box{
    border-top: solid 1px #81858b;
    text-align: center;
    text-decoration: none;
}
.find-box a {
    display: inline-block;
    margin: 5px;
    padding: 10px; /* 여백을 조절 2종 세트 */
}
.find-box a:hover {
    font-weight: 600;
}

.submit-box{
    text-align: center;
    padding: 15px;
}
.submit{
    width: 300px;
}
.joinUs{
    font-size: 15px;
}
.joinUs a:hover{
    text-decoration: underline;
}
.login-bottom{
    margin-bottom: 15px;
}
.socal-login{
    flex-direction: column;
    align-items: center;
    display: flex;
}
.socal-login>div{
    display: flex;
    gap: 10px;
}
.socal-login a {
    display: block;
    width: 50px;
    height: 50px;
}
#login-kakao{
    background-image: url("/css/images/kakao.png");
    background-image: no-repeat; /*배경 이미지 반복 안 함 */
    background-size: 100% 100%;
}
#login-naver{
    background-image: url("/css/images/naver.png");
    background-image: no-repeat; /*배경 이미지 반복 안 함 */
    background-size: 100% 100%;
}
#login-google{
    background-image: url("/css/images/google.png");
    background-image: no-repeat; /*배경 이미지 반복 안 함 */
    background-size: 100% 100%;
}

.login-line{
    display: flex;
    flex-basis:100%;
    align-items: center;
    font-size: 14px;
    margin: 20px 0px;
}
.login-line::before{
    content: "";
    flex-grow: 1;
    margin: 0px 16px;
    background: rgba(0, 0, 0, 0.35);
    height: 1px;
    font-size: 0px;
    line-height: 0px;
}
.login-line::after{
    content: "";
    flex-grow: 1;
    margin: 0px 16px;
    background: rgba(0, 0, 0, 0.35);
    height: 1px;
    font-size: 0px;
    line-height: 0px;
}