<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입 정보 입력</title>
</head>
<body>
<!-- loginJoinHeader 영역 참조 -->
<header th:insert="~{/loginJoinHeader :: loginJoinHeader}"></header>

<div class="join-form-wrapper">
    <div>개인정보를 입력해주세요.</div>
    <div class="content-box">
        <div>
            <div>이메일 주소</div>
            <input type="text" id="email" required>
        </div>
        <div>
            <div>이름</div>
            <input type="text" id="name" required>
        </div>
        <div>
            <div>닉네임</div>
            <input type="text" id="nickname" required>
        </div>
        <div>
            <div>휴대폰 번호</div>
            <input type="text" id="phoneNumber" required>
        </div>
        <div>
            <div>비밀번호</div>
            <input type="password" id="password" required>
        </div>
        <div>
            <div>비밀번호 재입력</div>
            <input type="password" id="checkPassword" required>
            <div>
                <div>8자 이상 ~ 16자 이하로 입력하세요</div>
                <div>영문, 숫자, 특수문자 사용 가능합니다</div>
                <div>안전도가 사용불가, 위험일 경우 변경이 불가합니다</div>
            </div>
        </div>
        <button id="joinBtn" class="btn bc3">완료</button>
    </div>
</div>
</body>
</html>