<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입 동의</title>
</head>
<body>
<!-- loginJoinHeader 영역 참조 -->
<header th:insert="~{/loginJoinHeader :: loginJoinHeader}"></header>

<div class="join-agree-wrapper">
    <div>다음 내용에 동의해주세요.</div>
    <div>
        <div>
            <div><div><input type="checkbox">모두 동의</div><span>필수 및 선택 항목 동의 포함</span></div>
        </div>
        <div>
            <div><input type="checkbox">통합 서비스 이용약관 동의(필수)</div>
            <div><input type="checkbox">개인정보 수집 및 이용 동의(필수)</div>
        </div>
    </div>
    <button id="nextButton">다음</button>
</div>

<script>
    //joinEmail로 이동
    document.getElementById("nextButton").addEventListener("click", function() {
        window.location.href = "email";
    });
</script>
</body>
</html>