<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입 이메일 인증</title>
</head>
<body>
<!-- loginJoinHeader 영역 참조 -->
<header th:insert="~{/loginJoinHeader :: loginJoinHeader}"></header>

<div class="join-wrapper wrapper">
    <div class="join-header">
        <div class="title">사용할 이메일 인증</div>
    </div>
    <div class="join-content content-box">
        <div>
            <div class="content-title">이메일</div>
            <div class="email input">
                <input type="text" id="emailInput" class="input-form" placeholder="이메일 입력">
                <button id="sendEmailButton" class="auth-btn bc1">메일 전송</button>
            </div>
        </div>
        <div>
            <div class="content-title">인증번호</div>
            <div class="auth input">
                <input type="text" id="authCodeInput" class="input-form" placeholder="인증번호 입력">
                <button id="verifyButton" class="auth-btn bc6">인증하기</button>
            </div>
        </div>
        <button id="nextButton" class="btn bc5">다음</button>
    </div>
</div>

<script>
    //전송 요청 버튼 클릭
    document.getElementById("sendEmailButton").addEventListener("click", function() {
        //이메일 가져옴
        const email = document.getElementById("emailInput").value;

        axios.post('/auth/signup/email/send', { email: email })
            .then(function (response) {
                //요청이 성공한 경우
                console.log(response);
                alert("이메일 전송이 완료되었습니다.");
            })
            .catch(function (error) {
                //요청이 실패한 경우
                console.error(error);
                alert("이메일 전송에 실패하였습니다.");
            });
    });

    //인증하기 버튼 클릭
    document.getElementById("verifyButton").addEventListener("click", function() {
        //이메일과 인증번호를 가져옴
        const email = document.getElementById("emailInput").value;
        const authCode = document.getElementById("authCodeInput").value;

        //VerifyEmailRequestDto 객체 생성
        const verifyEmailReq = {
            email: email,
            authCode: authCode
        };

        //이메일 인증 요청을 보냄
        axios.post('/auth/signup/email/verify', verifyEmailReq)
            .then(function (response) {
                //요청이 성공한 경우
                console.log(response);
                alert("이메일 인증이 완료되었습니다.");
            })
            .catch(function (error) {
                //요청이 실패한 경우
                console.error(error);
                alert("이메일 인증에 실패하였습니다.");
            });
    });

    //joinForm으로 이동
    document.getElementById("nextButton").addEventListener("click", function() {
        window.location.href = "form";
    });
</script>
</body>
</html>