<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입</title>
</head>
<body>
<!-- loginJoinHeader 영역 참조 -->
<header th:insert="~{/common/loginJoinHeader :: loginJoinHeader}"></header>

<div class="join-wrapper join-email-wrapper wrapper">
    <div class="join-header">
        <div class="title">사용할 이메일 인증</div>
    </div>
    <div class="join-content content-box">
        <div>
            <div class="content-title">이메일</div>
            <div class="email input">
                <input type="text" id="emailInput" class="input-form" placeholder="이메일 입력">
                <button id="sendEmailButton" class="auth-btn bc1">메일 전송</button>
            </div>

        </div>
        <div id="auth-box" style="display: none;">
            <div class="content-title">인증번호</div>
            <div class="auth input">
                <input type="text" id="authCodeInput" class="input-form" placeholder="인증번호 입력">
                <button id="verifyButton" class="auth-btn bc6">인증하기</button>
            </div>
        </div>
        <button id="nextButton" class="btn bc5">다음</button>
    </div>
</div>

<div class="join-wrapper join-form-wrapper" style="display:none;">
    <div class="join-header">
        <div class="title">개인정보를 입력해주세요.</div>
    </div>
    <div class="join-content content-box">
        <div class="typing-box update-input-wrap">
            <div>
                <div class="content-title">이메일</div>
                <div>
                    <input type="text" id="email" class="input-form" style="cursor:default;" readonly>
                </div>
            </div>
            <div>
                <div class="content-title">이름</div>
                <div>
                    <span class="material-symbols-outlined check-circle">check_circle</span>
                    <input type="text" id="name" class="input-form" placeholder="이름 입력" required>
                    <span class="reg-msg"></span>
                </div>
            </div>
            <div>
                <div class="content-title">닉네임</div>
                <div>
                    <span class="material-symbols-outlined check-circle">check_circle</span>
                    <input type="text" id="nickname" class="input-form" placeholder="닉네임 입력" required>
                    <span class="reg-msg"></span>
                </div>
            </div>
            <div>
                <div class="content-title">휴대폰 번호</div>
                <div>
                    <span class="material-symbols-outlined check-circle">check_circle</span>
                    <input type="text" id="phoneNumber" class="input-form" placeholder="- 없이 숫자만 입력" required>
                    <span class="reg-msg"></span>
                </div>
            </div>
            <div>
                <div class="content-title">비밀번호</div>
                <div>
                    <span class="material-symbols-outlined check-circle">check_circle</span>
                    <input type="password" id="password" class="input-form password" placeholder="비밀번호 입력" required>
                    <span class="reg-msg"></span>
                </div>
            </div>
            <div>
                <div class="content-title">비밀번호 재입력</div>
                <div>
                    <span class="material-symbols-outlined check-circle">check_circle</span>
                    <input type="password" id="checkPassword" class="input-form password" placeholder="비밀번호 재입력" required>
                    <span class="reg-msg"></span>
                </div>
                <div class="password-notice">
                    <div>8자 이상 ~ 16자 이하로 입력하세요</div>
                    <div>영문, 숫자, 특수문자 필수로 포함해주세요</div>
                    <div>안전도가 사용불가, 위험일 경우 변경이 불가합니다</div>
                </div>
            </div>
        </div>
        <button id="joinBtn" class="btn bc5">완료</button>
    </div>
</div>

<script th:src="@{/js/common/regex.js}"></script>
<script th:src="@{/js/join/join.js}"></script>
<script>
    /* 이메일 인증 완료 후 다음 페이지 이동 */
    document.getElementById("nextButton").addEventListener("click", function() {
        //이메일 인증 여부 확인
        const isEmailVerified = finVerified;

        if (isEmailVerified) {
            //email 값 미리 설정
            const emailInputValue = document.getElementById("emailInput").value;
            document.getElementById("email").value = emailInputValue;
            //개인정보 입력창 보이기
            const emailWrapper = document.querySelector('.join-email-wrapper');
            const formWrapper = document.querySelector('.join-form-wrapper');
            emailWrapper.style.display = 'none';
            formWrapper.style.display = 'block';
        } else {
            alert("이메일을 인증해주세요.");
        }
    });
</script>
</body>
</html>