/*전체 적용*/
*{
    margin: 0;
    padding: 0;
    color: #2f343d;
    font-family: "Hahmlet", serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-decoration-line: none;
    color:#25382f;
    font-size: 16px;
}

*:not(a){
    list-style: none;
    cursor: default;
}

*>p, *>span {
    /* cursor: text; */
    margin: 0;
    text-align: justify;
}
a *{
    cursor: pointer;
}


/*본문*/
.admin-content>div{
    width: 77%;
    padding-left: 300px;
    padding-top: 120px;
    padding-bottom: 150px;
}
.answer-btn {
    pointer-events: none;
    width: 92px;
}

/*글 title*/
.title-hover{
    cursor: pointer;
    color: #2f343d;
    text-decoration: none;
}
.title-hover:hover{
    color: #808080;
    transition: 0.2s ease-out;
}


/*버튼*/
.btn {
    border: none;
    padding: 17px 20px 17px 20px;
    display: inline-block;
    box-sizing: border-box;
    transition-duration: 0.4s;
    font-size: 16px;
    font-weight: 300;
    border-radius: 4px;
    cursor: pointer;
}

.btn-s{
    display: inline-block;
    outline: none;
    font-size: 14px;
    line-height: 30px;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    padding: 0 16px;
}

.bc1{
    background-color: #BFB374;
    border-radius: 0.25rem;
    border: 1px solid #BFB374;
    color: #fff;
    transition: 0.2s;
}
/*.bc1:hover {
    background-color: #ded086;
    border-color: #ded086;
}*/

.bc2{
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    color: #996F5E;
    border-color: #996F5E;
    background-color: #fff;
}
.bc2:hover {
    color: #fff;
    background-color: #996F5E;
    border-color: #996F5E;
}

.bc3 {
    background-color: rgba(240, 240, 240, 0.9);
    color: #252a34;
    border: 2px solid rgba(242, 242, 242, 0.9);
}
.bc3:hover {
    background-color: rgb(232, 232, 232);
    border: 2px solid rgb(232, 232, 232);
    cursor: pointer;
}

.bc4 {
    background-color: #003c66;
    color: #fff;
    border: 2px solid #003154;
}
.bc4:hover {
    background-color: #042b49;
    border: 2px solid #042b49;
    cursor: pointer;
    color: #fff;
}

.bc5{
    transition-property: background-color,border-color,color,box-shadow,filter;
    transition-duration: .3s;
    border: 1px solid transparent;
    letter-spacing: 2px;
    color: #fff;
    background-color: #83888a;
}
.bc5:hover{
    background-color: #D8D7C3;
}

.bc6{
    border: 1px solid transparent;
    color: #fff;
    background-color: #996F5E;
    border-radius: .25rem;
    transition: background-color 0.2s ease-in-out 0s, opacity 0.2s ease-in-out 0s;
}
.bc6:hover {
    background-color: #be917f;
}

/*
.bc6 {
    background-color: rgba(240, 240, 240, 0.9);
    color: #252a34;
    border: 2px solid rgba(242, 242, 242, 0.9);
}

.bc6:hover {
    background-color: rgb(232, 232, 232);
    border: 2px solid rgb(232, 232, 232);
    cursor: pointer;
}
*/

.bc7 {
    background-color: #d3bf59;
    color: #fff;
    border: 2px solid #d3bf59;
}

.bc7:hover {
    background-color: #cfb73e;
    border: 2px solid #cfb73e;
    cursor: pointer;
}