#pagination{
    display: flex;
    justify-content: center;
    align-items: center;
}
.page-navi{
    display: block;
}
.page-num{
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    overflow: hidden;
    font-size: 18px;
    border-radius: 20%;
    margin: 0 5px 0 5px;
    cursor: pointer;
}
.page-num:hover{
    background-color: #e5e5e5;
    transition: all 0.3s ease-out;
}
.page-navi>.arrow{
    display: block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #a1a1a1;
    border: 1px solid #aeaeae;
    border-radius: 20%;
    cursor: pointer;
}
.page-num.active {
    background-color: #445D48;
    color: #fff;
}