<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>후원 목록</title>
<body>
<!-- header 영역 참조 -->
<header th:insert="~{/common/header :: header}"></header>

<div class="donationList-wrapper page-content">
    <div class="contBox">
        <div class="list-header"><span>후원하기</span></div>
        <div class="donationList-body">
            <div class="body-wrapper">
                <div class="tag-box">
                    <div id="mml" class="tag home-btn">#포유류</div>
                    <div id="bird" class="tag home-btn">#조류</div>
                    <div id="amnrp" class="tag home-btn">#양서파충류</div>
                    <div id="fishes" class="tag home-btn">#어류</div>
                    <div id="etc" class="tag home-btn">#etc</div>
                </div>
                <div class="inputBox">
                    <div class="searchBox">
                        <input type="text" class="search input-form" onkeyup="enterSearchBtn(event)" placeholder="검색어를 입력해주세요.">
                        <button id="searchBtn" class="btn bc4">검색</button>
                    </div>
                    <button class="writer-btn btn bc2" onclick="goToSupportWrite(event)">
                        <div>
                            <span class="material-symbols-outlined">edit</span>
                            <span>글쓰기</span>
                        </div>
                    </button>
                </div>
                <div class="donation-list-box">
                    <div class="donation-list">
                        <div class="donation-line">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- footer 영역 참조 -->
<footer th:insert="~{/common/footer :: footer}"></footer>

<script th:src="@{/js/donation/donation.js}"></script>
<script th:src="@{/js/donation/donationList.js}"></script>
</body>
</html>