<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--  jQuery, bootstrap -->
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>
    <!-- summernote css/js-->
    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote.css" rel="stylesheet">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote.js"></script>
    <!-- css -->
    <link rel="stylesheet" th:href="@{/css/donation/donationWrite.css}">
    <title>후원글 작성하기</title>
<body>
<!-- header 영역 참조 -->
<header th:insert="~{/common/header :: header}"></header>

<div class="donationWriter-wrapper page-content">
    <div class="contBox">
        <div class="detail-header">
            <div>후원글 작성하기</div>
            <div class="header-line"></div>
        </div>
        <div class="detail-body">
            <div class="body-wrapper">
                <input type="hidden" id="supportId" th:value="${supportId}">
                <div class="title-box input-box">
                    <p>제목</p>
                    <input type="text" id="title" class="input-form" placeholder="제목을 입력해주세요" required>
                </div>
                <div class="subject-box input-box">
                    <p>동물 분류</p>
                    <select id="subject" class="select input-form" required>
                        <option value="mml">포유류</option>
                        <option value="bird">조류</option>
                        <option value="amnrp">양서파충류</option>
                        <option value="fishes">어류</option>
                        <option value="etc">etc</option>
                    </select>
                </div>
                <div class="goal-amount-box input-box">
                    <p>목표 금액</p>
                    <input type="text" id="goalAmount" class="input-form" placeholder="숫자만 입력해주세요 (ex: 10000)"
                           required>
                </div>
                <div class="date-box input-box">
                    <p>후원 기간</p>
                    <div>
                        <span>시작일</span><input type="date" id="startDate" class="input-form" required>
                    </div>
                    <div>
                        <span>마감일</span><input type="date" id="endDate" class="input-form" required>
                    </div>
                </div>
                <div class="first-Img-box input-box">
                    <p>대표 이미지</p>
                    <div>
                        <div class="file-box">
                            <label for="firstImg" class="btn bs1 bc2">파일 선택</label>
                            <input type="file" id="firstImg" accept=".jpg,.png,.jpeg" style="display:none;">
                            <div class="file-name">파일을 선택해주세요</div>
                        </div>
                        <div class="img-preview"></div>
                    </div>
                </div>
                <div class="content-box input-box">
                    <p>내용</p>
                    <div class="text-editor">
                        <textarea id="summernote"></textarea>
                    </div>
                </div>
                <div class="comment-option-box input-box">
                    <p>댓글 허용</p>
                    <span id="commentOption" class="material-symbols-outlined comment-check">check_circle</span>
                </div>
            </div>
            <div class="btn-box">
                <button id="createDonationBtn" class="donation-btn btn bc4">등록</button>
                <button id="updateDonationBtn" class="donation-btn btn bc4" style="display:none;">수정</button>
            </div>
        </div>
    </div>
</div>

<!-- footer 영역 참조 -->
<footer th:insert="~{/common/footer :: footer}"></footer>

<script th:src="@{/js/common/summernote.js}"></script>
<script th:src="@{/js/donation/donationWrite.js}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        /*달력 설정*/
        var today = new Date().toISOString().substring(0, 10);
        document.getElementById('startDate').value = today; //시작일을 오늘 날짜로 설정
        document.getElementById('startDate').setAttribute('min', today);    //오늘 이전 날짜 비허용
        document.getElementById('endDate').setAttribute('min', today);    //오늘 이전 날짜 비허용

        /*파일 선택 -> 파일 이름 설정*/
        var fileInput = document.getElementById('firstImg');

        //파일 변경되면 이름 변경
        fileInput.addEventListener('change', function() {
            if (fileInput.files[0]) {
                //파일 이름을 file-name 요소에 업데이트
                document.querySelector('.file-name').textContent = fileInput.files[0].name;
                console.log(fileInput.files[0].name);
            } else {
                document.querySelector('.file-name').textContent = "파일을 선택해주세요";
            }
        });
    });

    //수정폼인 경우 후원 데이터 조회
    window.onload = function() {
        getSupportDetail();
    };


    //토큰을 로컬 스토리지에서 가져오기
    const token = localStorage.getItem('accessToken');

    /*후원 생성*/
    document.getElementById('createDonationBtn').addEventListener('click', function() {
        if (!token) {
            alert("로그인 후 이용해주세요.");
            window.location.href = "/support/list";
            return;
        }

        //SupportRequestDto 객체 생성
        const title = document.getElementById('title').value.trim();
        const animalSubjects = document.getElementById('subject').value;
        const goalAmount = document.getElementById('goalAmount').value.trim();
        const startDate = dotFormatDate(document.getElementById('startDate').value);
        const endDate = dotFormatDate(document.getElementById('endDate').value);
        const firstImg  = document.getElementById('firstImg').files[0];
        console.log('firstImg name:' + firstImg.name);
        const content = $('#summernote').summernote('code');
        console.log('content:'+content);
        const commentCheck = checkCommentOption();

        const supportReq = {
            title: title,
            animalSubjects: animalSubjects,
            goalAmount: goalAmount,
            startDate: startDate,
            endDate: endDate,
            content: content,
            commentCheck: commentCheck
        };

        const formData = new FormData();
        const json = JSON.stringify(supportReq);    //객체 -> JSON 문자열
        const blob = new Blob([json], { type: "application/json" });    //JSON 문자열 -> Blob 객체
        formData.append('supportReq', blob);
        formData.append('firstImg', firstImg);

        //후원 생성 요청
        axios.post('/support/', formData, {
            headers: {
                'Authorization': 'Bearer ' + token,
                'Content-Type': 'multipart/form-data'
            }
        }).then(function(response) {
            console.log(response);
            alert(response.data);
        })
        .catch(function(error) {
            console.error(error);
            alert(error.response.data.message);
        });
    });


    /*후원 수정*/
    document.getElementById('updateDonationBtn').addEventListener('click', function() {
        if (!token) {
            alert("로그인 후 이용해주세요.");
            window.location.href = "/support/list";
            return;
        }

        //UpdateSupportRequestDto 객체 생성
        const title = document.getElementById('title').value.trim();
        const animalSubjects = document.getElementById('subject').value;
        const goalAmount = document.getElementById('goalAmount').value.trim();
        const startDate = dotFormatDate(document.getElementById('startDate').value);
        const endDate = dotFormatDate(document.getElementById('endDate').value);
        const newFirstImg  = document.getElementById('newFirstImg').files[0];
        const content = $('#summernote').summernote('code');
        const commentCheck = checkCommentOption();

        const supportId = document.getElementById('supportId').value;
        console.log('수정할 후원: ' + supportId);

        //기존 대표 이미지 삭제 여부(기본값:false)
        var firstImgDeleted = false;

        //대표 이미지를 새로 설정한 경우
        if (newFirstImg !== undefined && newFirstImg !== null) {
            //기존 대표 이미지 삭제
            firstImgDeleted = true;
        }

        console.log('기존 대표 이미지 삭제 여부: ' + firstImgDeleted);

        const updateSupportReq = {
            title: title,
            animalSubjects: animalSubjects,
            goalAmount: goalAmount,
            startDate: startDate,
            endDate: endDate,
            firstImgDeleted: firstImgDeleted,
            content: content,
            commentCheck: commentCheck
        };

        const formData = new FormData();
        const json = JSON.stringify(updateSupportReq);    //객체 -> JSON 문자열
        const blob = new Blob([json], { type: "application/json" });    //JSON 문자열 -> Blob 객체
        formData.append('updateSupportReq', blob);
        //newFirstImg 값이 있을 경우에만 formData에 추가
        if (newFirstImg !== undefined && newFirstImg !== null) {
            formData.append('newFirstImg', newFirstImg);
        }

        //후원 수정 요청
        axios.put('/support/' + supportId, formData, {
            headers: {
                'Authorization': 'Bearer ' + token,
                'Content-Type': 'multipart/form-data'
            }
        }).then(function(response) {
            console.log(response);
            alert(response.data);
            window.location.href = "/support/detail/" + supportId;
        })
        .catch(function(error) {
            console.error(error);
            alert(error.response.data.message);
        });
    });
</script>
</body>
</html>