<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>후원 목록</title>
<body>
<!-- header 영역 참조 -->
<header th:insert="~{/common/header :: header}"></header>

<div class="donationList-wrapper page-content">
    <div class="contBox">
        <div class="list-header"><span>후원하기</span></div>
        <div class="donationList-body">
            <div class="body-wrapper">
                <div class="tag-box">
                    <div id="mml" class="tag home-btn">#포유류</div>
                    <div id="bird" class="tag home-btn">#조류</div>
                    <div id="amnrp" class="tag home-btn">#양서파충류</div>
                    <div id="fishes" class="tag home-btn">#어류</div>
                    <div id="etc" class="tag home-btn">#etc</div>
                </div>
                <div class="inputBox">
                    <div class="searchBox">
                        <input type="text" class="search input-form" placeholder="검색어를 입력해주세요.">
                        <button id="searchBtn" class="btn bc4">검색</button>
                    </div>
                    <button class="writer-btn btn bc2">
                        <div onclick="goToSupportWrite(event)">
                            <span class="material-symbols-outlined">edit</span>
                            <span>글쓰기</span>
                        </div>
                    </button>
                </div>
                <div class="donation-list-box">
                    <div class="donation-list">
                        <div class="donation-line">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- footer 영역 참조 -->
<footer th:insert="~{/common/footer :: footer}"></footer>

<script th:src="@{/js/donation/donationList.js}"></script>
<script>
    //초기 페이지 설정
    let pageNo = 0;
    loadList(pageNo);

    //스크롤 이벤트 리스너
    window.addEventListener('scroll', function() {
        const scrollHeight = document.documentElement.scrollHeight; //문서의 총 높이
        const scrollTop = window.pageYOffset || document.documentElement.scrollTop; //현재 스크롤 위치
        const clientHeight = document.documentElement.clientHeight; //현재 보이는 화면의 높이

        //스크롤이 페이지 하단에 도달했는지 확인
        if (scrollTop + clientHeight >= scrollHeight - 10) {
            //현재 스크롤 위치 + 화면 높이 = 현재 화면의 맨 아래 위치

            //페이지 번호 증가
            pageNo++;

            //추가 콘텐츠 로드
            loadList(pageNo);
        }
    });

    /*후원 목록 조회*/
    function loadList(pageNo) {
        axios.get('/support', {
            params: {
                pageNo: pageNo
            }
        })
        .then(function(response) {
            var supportList = response.data.content;

            //DocumentFragment 생성
            var fragment = document.createDocumentFragment();

            supportList.forEach(function(support) {
                //graph의 width 설정(목표금액의 몇 퍼센트 모였는지 보여줌)
                const progress = (support.supportAmount / support.goalAmount) * 100;
                const graphWidth = progress > 100 ? '100%' : progress + '%';
                const graph = '<div class="graph" style="width: ' + graphWidth + ';"></div>';

                var row = `<div class="donation-box">
                                <div class="donation-img-box">
                                    <div class="donation-status ${support.supportStatus === 'START' ? 'start' :
                                                                   support.supportStatus === 'ENDING_SOON' ? 'ending-soon' :
                                                                   support.supportStatus === 'END' ? 'end' : ''}">
                                        ${support.supportStatus === 'START' ? '후원 시작' :
                                          support.supportStatus === 'SUPPORTING' ? '후원중' :
                                          support.supportStatus === 'ENDING_SOON' ? '종료 임박' :
                                          support.supportStatus === 'END' ? '후원 종료' : ''}
                                    </div>
                                    <div class="donation-img"><img src="${support.firstImg}" class="first-pic" alt="animal"></div>
                                </div>
                                <a href="/support/detail/${support.supportId}" class="donation-title title-hover">${support.title}</a>
                                <div class="donation-nickname gray-text">${support.nickname}</div>
                                <div class="donation-amount">
                                    <div class="percent">
                                        ${graph}
                                        <div class="graph-bottom"></div>
                                    </div>
                                    <p class="support-amount"><span>${support.supportAmount}</span>원</p>
                                </div>
                            </div>`;
                var div = document.createElement('div');
                div.innerHTML = row;

                fragment.appendChild(div.firstChild);
            });

            //DOM에 fragment 추가
            var donationLine = document.querySelector('.donation-line');
            donationLine.appendChild(fragment);

            //페이지 내비게이션 업데이트
            //renderPagination('Support', response.data.totalPages, pageNo);
        })
        .catch(function(error) {
            console.error(error);
        });
    }
</script>
</body>
</html>