.footer-wrapper{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    height: 120px;

    position: absolute;
    width: 100%;
    background: #FFFFFF;
    box-shadow: 0px 1px 30px rgba(0, 0, 0, 0.06);
    border-top: 1.5px solid #EEF0F3;
}
.footer-cont{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    align-items: center;
    width: 90%;
    margin-top: 45px;
}
