.home-wrapper{
    padding-bottom: 150px;
}
.home-content{
    width: 1200px;
    margin: auto;
}

.default{
    cursor: default;
}
.content-box .more-btn{
    border: 1px solid #d1d1d1;
    color: #2f343d;
    text-decoration: none;
    height: 55px;
}

.title-box>.title{
    font-size: 30px;
    font-weight: 600;
}
.title-box>.title-detail{
    color: #7A7A7A;
    padding-left: 5px;
}
.content-box{
    margin-top: 15px;
    border-radius: 10px;
}

.home-content>.box{
    margin-top: 40px;
    padding: 0 10px 0 10px;
}

/*캐러셀*/
.animal-images-box{
    margin-top: 80px;
}
.carousel-item{
    height: 450px;
    overflow: hidden;
    position: relative;
}
.carousel-item>img{
    position: absolute;
    width: 100%;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* 문구 */
.phrase *{
    font-size: 24px;
    font-weight: 600;
}
.phrase span{
    font-family: 'Righteous';
    font-size: 42px;
}
.phrase-count-box{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 50px 10px 50px 10px;
    border-bottom: 3px solid #EDEDED;
}

.deer-img{
    width: 52px;
    height: 52px;
}
.deer-img>img{
    width:100%;
    height:100%;
    object-fit:cover;
}
.count-box{
    display: flex;
    gap: 10px;
}
.default>*{
    font-weight: 700;
}


/* 마감 */
.deadline-donation-box>.content-box,
.qna-box>.content-box{
    padding: 40px;
    border: 1px solid #BCC2CA;
}

.ending-soon-box{
    display: flex;
    justify-content: center;
    gap: 20px;
}
.ending-soon-img-box{
    width: 23%;

    border-radius: 10px;
    position: relative;
}
.remaining-time{
    padding: 5px 0 5px 0;
    display: flex;
    justify-content: center;
    gap: 5px;
    border-radius: 10px 10px 0 0;
    background-color: #454e49;
}
.remaining-time * {
    color: #fff;
}

.ending-soon-img{
    width: 100%;
    height: 140px;
}
.ending-soon-img>.first-pic{
    border-radius: 0 0 10px 10px;
}

.ending-soon-detail{
    width: 45%;
}
.ending-soon-title{
    font-size: 22px;
    font-weight: 600;
}
.ending-soon-amount>.amount{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}
.amount *{
    font-size: 20px;
    font-weight: 600;
}


/*QnA*/
.qna-list{
    display: flex;
    gap: 30px;
}
.qna-detail-box{
    width: 30%;
    text-align: justify;
    padding: 30px 20px 40px 20px;
    border: 1px solid #BCC2CA;
    border-radius: 10px;
}
.qna-detail-title{
    font-size: 20px;
    font-weight: 600;
}
.qna-box>.content-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
}