.login-findEmail-wrapper {
    display: flex; 
    align-items: center; 
    justify-content: center; /* 사용자 화면 창과 관계 없이 가운데로 정렬하기 3종 세트 */
    text-align: center; /* 텍스트 가운데 정렬 플러스*/
    height: 65vh; /* 뷰포트 높이의 65% */
    
}
.typing-box{
    text-align: center;
    width: 300px;
    margin: 0 auto;
    padding-bottom: 5px;
}
.emailFind-box{
    position: absolute; 
    width: 550px;
    height: 185px;
}
.find-header{
    text-align: center; 
    font-weight: 600;
    font-size: 35px;
    border-bottom: 1px solid #000000;
    padding: 10px;
}
.pass{
    color: white;
    border-radius: 15px;
    border: none;
    background-color: #445d48;
}