.mypage-content{
    padding-left: 300px;
    padding-top: 120px;
    padding-bottom: 150px;
}

/* 본문 */
.content-wrap{
    border-top: 2px solid lightgray;
    border-bottom: 2px solid lightgray;
    padding: 10px;
    margin-bottom: 20px;
}
.page-content{
	/*display: flex;*/
}
.mypage-content>.mypage-title{
    font-size: 22px;
}
.mypage-detail{
    width: 75%;
	margin: 20px 0 150px 300px;
}

/* 바닥 버튼 */
.foot-btn{
    padding-top: 10px;
    display: flex;
    justify-content: flex-end;
}