/*
    전체태그 기본 margin, padding 제거
    기본 글씨 색 및 폰트 설정
*/
* {
    margin: 0;
    padding: 0;
    color: #2f343d;
    font-family: "Hahmlet", serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 16px;
    text-decoration-line: none;
}

/* *:not(a, input, textarea, span, i) {
    cursor: default;
} */
*>p, *>span {
    /* cursor: text; */
    margin: 0;
    text-align: justify;
}
a *{
    cursor: pointer;
}

ul{
    list-style-type: none;
}

/* 기본화면 레이아웃 */
.wrapper, .page-content{
    /*min-height: 100%;*/
    position: relative;
    padding-bottom: 200px;
}
.contbox{
    max-height: max-content;
    max-width: max-content;
    margin: 0 auto;
    padding-bottom: 5px;
}

.page-content {
    margin-top:170px !important;
    width: 1200px;
    margin: 0 auto;
    flex-grow: 1;
}

.page-title {
    font-weight: 600;
    padding: 10px 0px;
    font-size: 1.5rem;
}

/*로고*/
span.brand1 {
    color: #445D48;
    font-weight: 600;
}

span.brand2 {
    color: #996F5E;
    font-weight: 600;
}

span.brand3 {
    color: #BFB374;
    font-weight: 600;
}

/*목록 페이지*/
.inputBox{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.list-header{
    margin-bottom: 90px;
    text-align: center;
}
.list-header span{
    font-size: 48px;
    font-weight: 600;
    border-bottom: 5px solid #445D48;
    padding-bottom: 10px;
}
.detail-header{
    text-align: center;
}
.searchBox{
    position: relative;
    display: flex;
}
.search{
    margin-right: 5px;
}
#searchBtn{
    cursor: pointer;
    padding: 12px 15px 12px 15px;
}
.searchBox>.search{
    width: 600px;
}

.searchBox>.select{
    width: 15%;
    height: 50px;
    padding: 10px;
    border-radius: 8px;
    margin-right: 15px;
    box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.25);
    border: none;
    cursor: pointer;
}

.inputBox>.writer-btn{
    text-decoration: none;
    padding: 10px 15px 10px 15px;
}
.writer-btn>div{
    display: flex;
    cursor: pointer;
}
.writer-btn span{
    color: #fff;
}

/*메인, 후원 페이지 버튼*/
.home-btn{
    display: inline-block;
    padding: 15px 25px 15px 25px;
    border: 2px solid #b1b3b4;
    border-radius: 10rem;
    background-color: #fff;
    transition-duration: 0.3s;
    cursor: pointer;
}

/*후원 상태 따른 버튼*/
.donation-status{
    font-size: 12px;
    font-weight: 300;
    display: inline-block;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    color: #fff;
    position: absolute;
    left: 10px;
    bottom: 10px;
}
.start{
    background-color: #3f7a4a;
}
.end{
    background-color: #454e49;
}
.ending-soon{
    background-color: #e45d45;
}

/*후원 썸네일*/
.first-pic{
    width: 100%;
    height: 100%;
    object-fit:cover;
    border-radius: 10px;
}

/*그래프*/
.percent{
    position: relative;
}
.percent>.graph{
    width: 70%;
    border: 3px solid #cfb73e;
    border-radius: 10px;
    position: absolute;
}
.percent>.graph-bottom{
    border: 3px solid #e7e7e7;
    border-radius: 10px;
}

/*글 title*/
.title-hover{
    cursor: pointer;
    color: #2f343d;
    text-decoration: none;
}
.title-hover:hover{
    color: #808080;
    transition: 0.2s ease-out;
}

/*후원 리스트*/
.body-wrapper>.tag-box{
    border: none;
    margin: 0;
    justify-content: left;
    padding-bottom: 15px;
}
.donation-list-box>.donation-list{
    margin-top: 35px;
}

/*태그 후원*/
.tag-donation-box>.content-box,
.qna-box>.content-box{
    text-align: center;
}
.tag-box{
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 15px;
    width: 60%;
    padding-bottom: 30px;
    border-bottom: 3px solid #EDEDED;
}
.tag:hover{
    color: #a86e57;
    border: 2px solid #a86e57;
}
.tag-active{
    color: #a86e57;
    border: 2px solid #a86e57;
}

.donation-list{
    width: 100%;
    margin: 60px 0 30px 0;
}
.donation-line{
    width: 100%;
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}
.donation-box{
    width: 24%;
    text-align: justify;
}
.donation-img-box{
    position: relative;
    margin-bottom: 10px;
}
.donation-img{
    height: 150px;
    border-radius: 10px;
}
.gray-text{
    font-size: 14px;
    font-weight: 300;
    color: #7A7A7A;
    margin: 3px 0 10px 0;
}
.donation-amount>p{
    margin-top: 8px;
}


/*후원 상세 페이지 제목*/
.detail-header div{
    font-size: 36px;
    font-weight: 600;
}
.header-line{
    width: 60px;
    display: inline-block;
    border-bottom: 5px solid #445D48;
    margin: 20px 0 40px 0;
}

.detail-body>.btn-box{
    display: flex;
    justify-content: right;
}

/*상세 페이지 수정&삭제 버튼*/
.writer{
    text-align: right;
    padding-top: 20px;
}
.writer>button{
    width: 90px;
}

/*summernote*/
/*
.text-editor{
    text-align: left;
}*/
.text-editor .btn{
    padding: 5px 10px !important;
}


/*check-circle*/
.update-input-wrap>div>div{
    position: relative;
}
div>.check-circle{
    color: #996F5E;
    position: absolute;
    z-index: 1;
    right: 10px;
    top: 12px;
    display: none;
}

div>.active-check-circle{
    display: block;
}

/*active 클래스*/
div>.active-reg-msg{
    color: #f86697;
    font-size: 12px;
}
div>.active-reg-input{
    margin-bottom: 2px;
    outline: 2px solid #f86697;
}
.active-comment-check{
    color: #a86e57;
}

.display-block{
    display: block;
}
.display-none{
    display: none;
}


/* 글씨 색 */
.fc-1 {
    color: #25382f;
}

.fc-2 {
    color: #59516e;
}

.fc-3 {
    color: #eeeeee;
}

.fc-4 {
    color: #003154;
}

.fc-5 {
    color: #0f631d;
}

.fc-6 {
    color: #94310a;
}

.fc-7 {
    color: #d6b822;
}


/* 버튼 디자인 */
.btn {
    border: none;
    padding: 17px 20px 17px 20px;
    display: inline-block;
    box-sizing: border-box;
    transition-duration: 0.4s;
    font-size: 16px;
    font-weight: 300;
    border-radius: 4px;
    cursor: pointer;
}

.btn-pill {
    border-radius: 10rem;
}

.bc1 {
    background-color: #454e49;
    color: #fff;
    border: 2px solid #454e49;
}

.bc1:hover {
    background-color: #25382f;
    border: 2px solid #25382f;
}

.bc2 {
    background-color: #59516e;
    color: #fff;
    border: 2px solid #59516e;
}

.bc2:hover {
    background-color: #403950;
    border: 2px solid #403950;
    color: #fff;
}

.bc3 {
    background-color: rgba(240, 240, 240, 0.9);
    color: #252a34;
    border: 2px solid rgba(242, 242, 242, 0.9);
}

.bc3:hover {
    background-color: rgb(232, 232, 232);
    border: 2px solid rgb(232, 232, 232);
    cursor: pointer;
}

.bc4 {
    background-color: #003c66;
    color: #fff;
    border: 2px solid #003154;
}

.bc4:hover {
    background-color: #042b49;
    border: 2px solid #042b49;
    cursor: pointer;
    color: #fff;
}

.bc5 {
    background-color: #445D48;
    color: #fff;
    border: 2px solid #445D48;
}

.bc5:hover {
    background-color: #304132;
    border: 2px solid #304132;
    cursor: pointer;
    color: #fff;
}

.bc6 {
    background-color: #a86e57;
    color: #fff;
    border: 2px solid #a86e57;
}

.bc6:hover {
    background-color: #9c5d44;
    border: 2px solid #9c5d44;
    cursor: pointer;
}

.bc7 {
    background-color: #d3bf59;
    color: #fff;
    border: 2px solid #d3bf59;
}

.bc7:hover {
    background-color: #cfb73e;
    border: 2px solid #cfb73e;
    cursor: pointer;
}

.bc8 {
    background-color: #e45d45;
    color: #fff;
    border: 2px solid #e45d45;
}
.bc8:hover {
    background-color: #cb533e;
    border: 2px solid #cb533e;
    cursor: pointer;
}


.bc11 {
    color: #454e49;
    background-color: #fff;
    border: 2px solid #454e49;
}

.bc11:hover {
    background-color: #454e49;
    cursor: pointer;
    color: #fff;
}

.bc22 {
    color: #59516e;
    background-color: #fff;
    border: 2px solid #403950;
}

.bc22:hover {
    background-color: #403950;
    cursor: pointer;
    color: #fff;
}

.bc33 {
    color: rgba(117, 117, 117, 0.9);
    background-color: #fff;
    border: 2px solid rgba(189, 189, 189, 0.9);
}

.bc33:hover {
    background-color: rgba(238, 238, 238, 0.9);
    cursor: pointer;
    color: rgba(37, 42, 52, 1);
    border: 2px solid rgba(238, 238, 238, 0.9);
}

.bc44 {
    color: #003c66;
    background-color: #fff;
    border: 2px solid #003c66;
}

.bc44:hover {
    background-color: #003c66;
    color: #fff;
    cursor: pointer;
}

.bc55 {
    color: #304132;
    background-color: #fff;
    border: 2px solid #304132;
}

.bc55:hover {
    background-color: #304132;
    color: #fff;
    cursor: pointer;
}

.bc66 {
    color: #a86e57;
    background-color: #fff;
    border: 2px solid #a86e57;
}

.bc66:hover {
    background-color: #a86e57;
    color: #fff;
    cursor: pointer;
}

.bc77 {
    color: #d3bf59;
    background-color: #fff;
    border: 2px solid #d3bf59;
}

.bc77:hover {
    background-color: #d3bf59;
    color: #fff;
    cursor: pointer;
}


.bc000 {
    color: #454e49;
    background-color: #fff;
    border: 2px solid #ccc;
}

.bc111:hover {
    cursor: pointer;
    border-color: #454e49;
    color: #2f343d;
}

.bc222:hover {
    cursor: pointer;
    border-color: #403950;
    color: #403950;
}

.bc333:hover {
    cursor: pointer;
    color: #59516e;
    border-color: rgba(238, 238, 238, 0.9)
}

.bc444:hover {
    color: #003c66;
    cursor: pointer;
    border-color: #003c66;
}

.bc555:hover {
    color: #445D48;
    cursor: pointer;
    border-color: #445D48;
}

.bc666:hover {
    color: #a86e57;
    cursor: pointer;
    border-color: #a86e57;
}

.bc777:hover {
    color: #d3bf59;
    cursor: pointer;
    border-color: #d3bf59;
}

/* 버튼 크기 */
.bs1 {
    padding: 0.2rem 0.5rem 0.2rem 0.5rem;
}

.bs2 {
    padding: 1rem 1.3rem 1rem 1.3rem;
}

.bs3 {
    padding: 1.2rem 1.5rem 1.2rem 1.5rem;
    font-size: 1.1em;
}

.bs4 {
    padding: 1.3rem 2rem 1.3rem 2rem;
    font-size: 1.2em;
}

.bs5 {
    width: 100%;
    padding: 2rem;
    font-size: 1.2em;
}


/* input 디자인 */
.input-form {
    width: 100%;
    height: 50px;
    display: block;
    padding: 0.8rem;
    background-color: #fff;
    outline: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.input-form:focus {
    box-shadow: 0 0 0 0.1rem #eee;
}
.input-form::placeholder {
    color: rgb(172, 172, 172);
}

textarea.input-form {
    resize: none;
    min-height: 100px;
}

.input-form:read-only:not(select),
.input-form:disabled {
    background-color: #f7f7f7;
    cursor: default;
}


/* 페이징 디자인 1 */
.w3-center{
    text-align: center;
    margin-top: 30px;
}

.w3-pagination {
    display: inline-block;
    padding: 0;
    margin: 0
}

.w3-pagination li {
    display: inline
}

.w3-pagination li a {
    text-decoration: none;
    color: #000;
    float: left;
    padding: 8px 16px;
    cursor: pointer;
}

.w3-pagination li a:hover {
    background-color: #f0f0f0;
}

.w3-green,.w3-hover-green:hover {
    color: #fff!important;
    background-color: #445D48!important
}

/* 페이징 디자인 2 */
.pagination {
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination>li>a.page-item {
    display: block;
    font-size: 18px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin: 5px;
}

.pagination>li>a.page-item:not(.active-page):hover{
    color: #b8b8b8;
    transition: 0.2s ease-out;
}

.pagination>li>a.page-item>span.material-icons {
    display: block;
    width: 100%;
    height: 100%;
    line-height: 40px;
}

.pagination>li>a.page-item>span.material-icons:hover{
    color: #b8b8b8;
    transition: 0.2s ease-out;
}

.pagination .page-item.active-page {
    background-color: #445D48;
    color: #fff;
    border-radius: 50%;
}