<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/donation.css">
    <link rel="stylesheet" href="css/QnA.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    
    <title>donationDetail</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#header").load("/header.html");
        });
    </script>
<body>
    <div id="header">헤더</div>
    <div class="donationDetail-wrapper wrapper">
        <div class="donationDetail-ContBox">
            <div class="donationDetail-header"><span>제목</span></div>
            <div class="donationDetail-body-1">
                <div class="body1-wrapper">
                    <div class="background">
                        <div class="donation-review">후기</div>
                    </div>
                    <div class="event-deadline">
                        <span>후원기간</span><span>20xx.xx.xx</span>
                    </div>
                    <div class="amount">
                        <div class="donationTag">
                            <div class="tag1">포유류</div>
                        </div>
                        <div class="donation-amount">
                            <div class="taget-amount"><span>100,000</span><span>원</span></div>
                            <div class="maximum-amount"><span>700</span><span>원</span></div>
                        </div>
                    </div>
                    <div class="bottomline">
                        <div class="bottomline-left">
                            <button>하트버튼</button><span>4400</span><button>공유버튼</button><span>|</span><span>공유하기</span>
                        </div>
                        <div class="bottomline-right"><button>후원하기</button></div>
                    </div>
                </div>
            </div>
            <div class="donationDetail-body-2">
                <div class="body2-wrapper">아랫글</div>
            </div>
            <div class="donationDetail-body-3">
                <div class="body3-wrapper">
                    <div class="CommentWrite">
                        <span>댓글 작성하기</span>
                        <div class="C-textarea"><textarea>응원의 메세지를 남겨주세요.</textarea></div>
                        <div class="C-btnBox"><button class="C-btn">등록</button></div>
                    </div>   
                    <div class="CommentList">
                        <div class="C-listHeader">
                            <span>댓글</span><span>13</span>
                        </div>
                        <div class="commentBox">
                            <div class="commentBox-R"></div>
                            <div class="commentBox-L">
                                <div class="commentBox-LT">
                                    <div class="commentBox-LTR">돌고래 좋아</div>
                                    <div class="commentBox-LTL">취소 아이콘</div>
                                </div>
                                <div class="commentBox-LM"><span>아프지마 얘들아</span></div>
                                <div class="commentBox-LB"><span>202x.xx.xx</span></div>
                            </div>
                        </div>
                    </div> 
                </div>
            </div>
        </div>
    </div>
</body>
</html>