<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<footer th:fragment="footerFragment" >
    <link rel="stylesheet" th:href="@{/css/footer.css}">

    <div class="footer-wrapper">
        <div class="footer-cont">
            <div class="logo"><img src="https://cdn0.iconfinder.com/data/icons/christmas-time-02/91/Christmas_-_Celebrate_-_New_Year_28-512.png" style="width:100%;" alt="Logo"></div>
            <div class="f-content"><span>Content | </span><span>WAMadmin@WAM.com</span></div>
        </div>
    </div>
</footer>
</html>