<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<header th:fragment="header">
    <!-- 아이콘 -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,1,0" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <!-- 전체 폰트 -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hahmlet:wght@100..900&display=swap" rel="stylesheet">
    <!-- 로고 폰트 -->
    <link href="https://fonts.googleapis.com/css2?family=Righteous&display=swap" rel="stylesheet">
    <!-- css -->
    <link rel="stylesheet"  th:href="@{/css/header.css}">
    <link rel="stylesheet" th:href="@{/css/common/default.css}">
    <link rel="stylesheet" th:href="@{/css/qna/qnaList.css}">
    <link rel="stylesheet" th:href="@{/css/qna/qnaDetail.css}">
    <!-- axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- jquery -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <div class="header-wrapper">
        <div class="header">
            <div class="left-box">
                <div class="logo"><img src="#"></div>
                <div class="menu">
                    <a href="#">야생동물 지도</a>
                    <a href="#">후원하기</a>
                    <a href="#">QnA</a>
                </div>
            </div>
            <div class="right-box">
                <button class="button-login btn bc3 bs1">로그인</button>
                <button class="button-join btn bc5 bs1">회원가입</button>
            </div>
        </div>
    </div>
</header>
</html>