<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>회원가입 이메일 인증</title>
</head>
<body>
    <div class="join-email-wapper">
        <div>사용할 이메일 인증</div>
        <div>
            <div>
                <div>이메일</div>
                <div><input type="text"></div>
            </div>
            <div>
                <div>인증번호</div>
                <div><input type="text"></div>
            </div>
        </div>
        <button>다음</button>
    </div>
</body>
</html>