<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- jQuery -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.4.min.js" ></script>
    <!-- iamport.payment.js -->
    <script type="text/javascript" src="https://cdn.iamport.kr/js/iamport.payment-1.2.0.js"></script>
    <!-- axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- 결제 -->
    <script src="/js/payment.js"></script>
    <title>결제 테스트</title>
</head>
<body>
    <h1>결제 테스트</h1>
    <a id="impKey" th:href="${@environment.getProperty('imp.code')}"></a>
    <button onclick="promptAmount()">후원하기</button>
</body>
</html>