<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/QnA.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    
    <title>QnADetail</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#header").load("/header.html");
        });
        
    </script>
</head>
<body>
    <div id="header"></div>
    <div class="QnADetail-wrapper">
        <div class="QnADetail-contBox">
            <div class="QnAHeader-wrapper"> 
                <div class="D-left-box"><img src="css/person.png"></div>
                <div class="D-right-box">
                    <div class="D-top">최대12자까지가능한이름</div>
                    <div class="D-bottom"><span class="D-date">2024.03.02</span><span>조회수 : 99999 </span></div>
                </div>
            </div>
            <div class="D-titleBox">
                <span class="D-title">제목</span><span class="answer-comp">답변완료</span>
            </div>
            <div class="D-textarea">본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용본문내용</div>
            <div class="D-answer"><button class="btn-answer">답변작성하기</button></div>
        </div>
    </div>
</body>
</html>