<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/QnA.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    
    <title>QnAList</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#header").load("/header.html");
        });
        
    </script>
    <script>
        $(".w3-pagination a").click(function() {

        var selector = $(this);
        var current_index = $(".w3-pagination a").index(this);
        var current_class = selector.attr("class");

        if (current_index != 0 || current_index != 6) {

        $(".w3-pagination a").each(function(index) {

            if (index == 0 || index == 6) {
            return true;
            } else {
            if (index == current_index) {
                $(this).addClass("w3-green");
            } else {
                $(this).removeClass("w3-green");
            }
            }
        });
        }
        });
    </script>
</head>
<body>
    <div id="header"></div>
    <div class="QnAlist-wrapper">
        <div class="QnAlist-ContBox">
            <div class="QnAlist-header"><span>QnA</span></div>
            <div class="QnAlist-inputBox">
                <!-- 검색창 action 값 지정필요-->
                <form action="#" method="post">
                    <div class="QnAlist-searchBox">
                        <select class="select">
                            <option value="Title">제목</option>
                            <option value="Writer">작성자</option>
                            <option value="Number">게시글번호</option>
                        </select>
                        <!-- QnA 검색창 name : QnAsearch -->
                        <input type="text" class="QnAsearch" name="QnAsearch" placeholder="내용을 입력해주세요."> 
                        <input type="submit" value="Search" id="search-btn"/>
                        <button class="writer-btn" href="#"><span class="material-symbols-outlined" style="font-size: 19px; margin-right: 3px;">edit</span><span>글쓰기</span></span></button>
                    </div>
                </form>
            </div>
            <div class="list-header"></div>
                <div class="tableBox">
                    <table class="header-list">
                        <thead>
                            <tr>
                                <th>번호</th>
                                <th>제목</th>
                                <th>작성자</th>
                                <th>작성일</th>
                                <th>조회수</th>
                                <th>답변</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>1</td>
                                <td><a href="#">사무실에서 야생개발자를 봤어요!</a></td>
                                <td>마케팅김대리</td>
                                <td>2023.02.20</td>
                                <td>1</td>
                                <td><span class="answer-comp">답변완료</span></td>
                            </tr>
                            <tr>
                                <td>99999</td>
                                <td><a href="#">하악질이 심한 야생개발자는 어떻게 하나요?</a></td>
                                <td>마케팅김대리</td>
                                <td>2023.02.20</td>
                                <td>99999</td>
                                <td><span class="answer-nyet">답변예정</span></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
        <div class="w3-center">
            <ul class="w3-pagination">
                <li><a href="#">&laquo;</a></li>
                <li><a class="w3-green" href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
                <li><a href="#">&raquo;</a></li>
            </ul>
        </div>
        </div>
    </div>
</body>
</html>