<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/QnA.css">
    <title>QnAList</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#header").load("/header.html");
        });
    </script>
    </script>
</head>
<body>
    <div id="header"></div>
    <div class="QnAlist-wrapper">
        <div class="QnAlist-ContBox">
            <div class="QnAlist-header"><span>QnA</span></div>
            <div class="QnAlist-inputBox">
                <!-- 검색창 action 값 지정필요-->
                <form action="#" method="post">
                    <div class="QnAlist-searchBox">
                        <div class="drop-menu"></div>
                        <!-- QnA 검색창 name : QnAsearch -->
                        <input type="text" name="QnAsearch"> 
                    </div>
                </form>
                <div class="QnAList-write">
                    <a href="#">글쓰기</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>