<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/loginFindEmail.css}">
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <title>비밀번호 찾기</title>
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        $(document).ready(function(){
            $("#header").load("/header.html");
        });
    </script>
</head>
<body>
    <div id="header">헤더</div>
</body>
</html>