<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/login/loginFindEmail.css}">
    <link rel="stylesheet" th:href="@{/css/login/login.css}">
    <title>비밀번호 재설정</title>
</head>
<body>
<!-- loginJoinHeader 영역 참조 -->
<header th:insert="~{/loginJoinHeader :: loginJoinHeader}"></header>

<div class="login-wrapper wrapper">
    <div class="change-pw-box content-box">
        <div class="find-header">비밀번호 재설정</div>
        <div class="typing-box">
            <div class="dass1">
                <div class="empx"><span>이름</span></div>
                <input type="text" id="name" class="input-form" placeholder="이름 입력" required>
            </div>
            <div class="dass1">
                <div class="empx"><span>이메일</span></div>
                <input type="text" id="email" class="input-form" placeholder="이메일 입력" required>
            </div>
            <button id="sendMailBtn" class="mail-btn btn bc5" style="width: 100%; margin-top: 10px;">메일 발송</button>
        </div>
    </div>
</div>

<script>
    /* 비밀번호 재설정 링크 메일 전송 */
    document.getElementById('sendMailBtn').addEventListener('click', function() {
        //ChangePwLinkRequestDto 객체 생성
        const name = document.getElementById('name').value.trim();
        const email = document.getElementById('email').value.trim();

        //입력값이 비어 있는지 확인
        if (name === '' || email === '') {
            alert('정보를 입력해주세요.');
            return;
        }

        const changePwLinkReq = {
            name: name,
            email: email
        };

        axios.post('/auth/change-pw/email/send', changePwLinkReq)
            .then(function (response) {
                console.log(response);
                alert(response.data)
            })
            .catch(function (error) {
                console.error('메일 전송 실패:', error.response.data);
            });
    });
</script>
</body>
</html>