<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/login/loginFindEmail.css}">
    <title>이메일 찾기</title>
</head>
<body>
<!-- loginJoinHeader 영역 참조 -->
<header th:insert="~{common/loginJoinHeader :: loginJoinHeader}"></header>

<div class="login-wrapper wrapper">
    <div class="emailFind-box content-box">
        <div class="find-header">이메일 찾기</div>
        <div class="typing-box">
            <div id="findEmailInput">
                <div class="dass1">
                    <div class="empx"><span>이름</span></div>
                    <input type="text" id="name" class="input-form" placeholder="이름 입력" required>
                </div>
                <div class="dass1">
                    <div class="empx"><span>전화번호</span></div>
                    <div class="phoneNum">
                        <input type="text" id="phoneNumber" class="input-form" placeholder="- 없이 숫자만 입력" required>
    <!--                    <button class="pass btn bs1 bc1">인증번호 전송</button>-->
                    </div>
                    <div class="auth">
    <!--                    <div class="auth-fin">-->
    <!--                        <input type="text" name="dass" class="input-form" placeholder="인증번호 입력" required>-->
    <!--                        <button id="auth-btn" class="pass btn bs1 bc6">인증 확인</button>-->
    <!--                    </div>-->
                    </div>
                </div>
                <button id="finBtn" class="btn bc5" style="width: 100%; margin-top: 10px;">확인</button>
            </div>
            <div id="emailResult" style="text-align:center;">
            </div>
        </div>

    </div>
</div>

<script th:src="@{/js/login/findEmail.js}"></script>
</body>
</html>