<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- css -->
    <link rel="stylesheet" th:href="@{/css/login/loginFindEmail.css}">
    <title>비밀번호 재설정 폼</title>
</head>
<body>
<!-- loginJoinHeader 영역 참조 -->
<header th:insert="~{common/loginJoinHeader :: loginJoinHeader}"></header>

<div class="login-wrapper wrapper">
    <div class="change-pw-box content-box">
        <div class="find-header">비밀번호 재설정</div>
        <input type="hidden" value="">
        <div class="typing-box update-input-wrap">
            <div class="dass1">
                <div class="empx"><span>새 비밀번호</span></div>
                <div>
                    <input type="password" id="newPw" class="input-form" placeholder="새 비밀번호 입력" required>
                    <span class="reg-msg"></span>
                </div>
            </div>
            <div class="dass1">
                <div class="empx"><span>비밀번호 확인</span></div>
                <div>
                    <input type="password" id="checkPw" class="input-form" placeholder="새 비밀번호 확인" required>
                    <span class="reg-msg"></span>
                </div>
            </div>
            <button id="finBtn" class="btn bc5" style="width: 100%; margin-top: 10px;">확인</button>
        </div>
    </div>
</div>

<script src="/js/common/pwRegex.js"></script>
<script th:src="@{/js/login/changePwForm.js}"></script>
</body>
</html>