<!DOCTYPE html>
<html lang="kr" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/loginFindEmail.css}">
    <link rel="stylesheet" th:href="@{/css/login.css}">
    <title>이메일 찾기</title>
</head>
<body>
    <div class="login-findEmail-wrapper">
        <div class="emailFind-box">
        <div class="find-header">이메일 찾기</div>
            <div class="typing-box">
                <div class="dass1">
                    <div class="empx"><span>이름</span></div>
                    <input type="text" name="memberName" required>
                </div>
                <div class="dass1">
                    <div class="empx"><span>전화번호</span></div>
                    <input type="text" name="phoneNumber" required>
                    <button type="button" class="pass">전송</button>
                    <button type="button" class="repass">다시전송</button>
                    <div><span>인증번호가 해당번호로 전송되었습니다.</span></div>
                    <input type="text" name="dass" required>
                    <button type="button" name="complete">인증확인</button>    
                </div>
            </div>
        </div>
    </div>
</body>
</html>