<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- css -->
    <link rel="stylesheet" href="/css/common/default.css">
    <link rel="stylesheet" href="/css/qna/qnaDetail.css">
    <title>QnADetail</title>
</head>
<body>
<!-- header 영역 참조 -->
<header th:insert="~{/header :: header}"></header>

<div class="QnADetail-wrapper page-content">
    <div class="QnADetail-contBox contbox">
        <div class="QnAHeader-wrapper">
            <input type="hidden" id="qnaId">
            <div class="D-left-box"><img src="https://cdn4.iconfinder.com/data/icons/christmas-special/512/renne.png" width="55" height="55"></div>
            <div class="D-right-box">
                <p class="D-top"></p>
                <div class="D-bottom">
                    <p class="D-date"></p>
                    <span>|</span>
                    <p class="D-viewCount"><span class="material-symbols-outlined">visibility</span><span class="viewCount-num"></span></p>
                </div>
            </div>
        </div>
        <div class="D-titleBox">
            <p class="D-title"></p>
            <button class="answer-comp btn bs1"></button>
        </div>
        <div class="D-textarea">
            <p></p>
        </div>
        <div>
            <div class="D-writer" style="display:none;">
                <button id="updateQnaBtn" class="btn-update btn bs1 bc4">수정</button>
                <button id="deleteQnaBtn" class="btn-delete btn bs1 bc66">삭제</button>
            </div>
            <div class="D-answer">
                <textarea id="answerTextarea" class="input-form" placeholder="답변을 입력해주세요" style="display:none;"></textarea>
                <div id="answerContent" style="display:none">
                    <div>
                        <p class="answer-date"></p>
                        <p class="answer-content"></p>
                    </div>
                </div>
                <button class="btn-answer btn bc4" style="display:none;">답변 작성하기</button>
            </div>
        </div>
    </div>
</div>

<!-- footer 영역 참조 -->
<footer th:insert="~{/footer :: footer}"></footer>

<script th:src="@{/js/qna/qna.js}"></script>
<script>
    /*QnA 상세 조회*/
    function loadQnaDetail() {
        const qnaId = [[${qnaId}]];
        console.log(qnaId);

        axios.get(`/qna/${qnaId}`)
            .then(function(response) {
                var qnaDetail = response.data;

                var titleElement = document.querySelector('.D-title');
                var nicknameElement = document.querySelector('.D-top');
                var createDateElement = document.querySelector('.D-date');
                var viewCountElement = document.querySelector('.viewCount-num');
                var contentElement = document.querySelector('.D-textarea p');

                //데이터 넣기
                document.getElementById('qnaId').value = qnaDetail.qnaId;
                nicknameElement.textContent = qnaDetail.nickname;
                createDateElement.textContent = qnaDetail.createDate;
                viewCountElement.textContent = qnaDetail.viewCount;
                titleElement.textContent = qnaDetail.title;
                contentElement.textContent = qnaDetail.content;

                //답변한 QnA인 경우
                if (qnaDetail.answerDate !== null && qnaDetail.answer !== null) {
                    var answerDateElement = document.querySelector('.answer-date');
                    var answerContentElement = document.querySelector('.answer-content');
                    var answerTextarea = document.getElementById('answerTextarea');
                    answerDateElement.textContent = qnaDetail.answerDate;
                    answerContentElement.textContent = qnaDetail.answer;
                    answerTextarea.value = qnaDetail.answer;

                    hideAnswerBtnForAdmin('.btn-answer');
                    showHideElement('#answerContent');

                    // 버튼 텍스트 변경
                    var answerButton = document.querySelector('.btn-answer');
                    if (answerButton) {
                        answerButton.textContent = '답변 수정하기';
                    }
                }

                //답변 상태에 따라 버튼 스타일 설정
                var answerButton = document.querySelector('.answer-comp');
                answerButton.classList.add(qnaDetail.qnaCheck === 'CHECKING' ? 'bc3' : 'bc7');
                answerButton.textContent = qnaDetail.qnaCheck === 'CHECKING' ? '확인 중' : '답변 완료';

                //로그인 사용자에 따라 다른 버튼 보이기
                showUpDelBtnForWriter(qnaDetail.memberId);
                showAnswerBtnForAdmin('.btn-answer');
            })
            .catch(function(error) {
                console.error(error);
                alert('QnA를 불러오지 못했습니다.');
                goToQnaList();
            });
    }

    //요소를 보이게 하거나 숨기는 함수
    function showHideElement(element) {
        var element = document.querySelector(element);
        if (element.style.display === 'none') {
            element.style.display = 'block';
        } else {
            element.style.display = 'none';
        }
    }

    //로그인 사용자가 관리자면 버튼 보이게 하는 함수
    function showAnswerBtnForAdmin(btnName) {
        //payload에서 데이터 가져오기
        const payload = getPayloadData();

        //권한이 관리자이면 답변 작성 버튼 보이기
        if (payload.auth == "ADMIN") {
            showHideElement(btnName);
        }
    }

    //로그인 사용자가 관리자면 버튼 안 보이게 하는 함수
    function hideAnswerBtnForAdmin(btnName) {
        //payload에서 데이터 가져오기
        const payload = getPayloadData();

        //권한이 관리자이면 답변 작성 버튼 보이기
        if (payload.auth == "ADMIN") {
            document.querySelector(btnName).style.display = 'none';
        }
    }

    //답변 등록 버튼 클릭 이벤트 핸들러
    document.querySelector('.btn-answer').addEventListener('click', function() {
        const inputForm = document.querySelector('.input-form');
        //textarea가 보이는지 확인
        if (inputForm.style.display === 'block') {
            //textarea가 보이는 경우 답변 등록 요청
            const qnaId = document.getElementById('qnaId').value;
            const qnaAnswerReq = {
                answer: document.getElementById('answerTextarea').value
            };
            axios.put(`/qna/${qnaId}/answer`, qnaAnswerReq)
                .then(response => {
                    console.log(response.data);
                    alert(response.data);
                    window.location.href = `/qna/detail/${qnaId}`;
                })
                .catch(error => {
                    console.error(error);
                    alert("답변 등록에 실패했습니다.");
                });
        } else {
            //textarea가 보이지 않는 경우 보이게 하기
            showHideElement('.input-form');
            //답변 내용 보이기
            showHideElement('#answerContent');
        }
    });

    //로그인 사용자가 작성자인지 확인하는 함수
    function showUpDelBtnForWriter(memberId) {
        //payload에서 데이터 가져오기
        const payload = getPayloadData();
        console.log('login memberId:'+payload.sub);

        //memberId가 같으면 버튼 보이기
        if (payload.sub == memberId) {
            document.querySelector('.D-writer').style.removeProperty('display'); //display 속성 제거
        }
    }

    //QnA 상세 조회 함수 실행
    loadQnaDetail();

    /*QnA 삭제*/
    document.getElementById('deleteQnaBtn').addEventListener('click', function() {
        const qnaId = document.getElementById('qnaId').value;
        console.log("삭제할 QnA:"+qnaId);

        //토큰을 로컬 스토리지에서 가져오기
        const token = getToken();

        if (confirm("정말로 QnA를 삭제하시겠습니까?")) {
            //사용자가 확인을 누르면 컨트롤러 호출
            axios.delete('/qna/' + qnaId, {
                headers: {
                    'Authorization': 'Bearer ' + token
                }
            }).then(function(response) {
                console.log(response);
                alert(response.data);
                goToQnaList()
            })
            .catch(function(error) {
                console.error(error);
                alert("QnA 삭제에 실패하였습니다.");
            });
        }
    });

    //qnaList 페이지 이동
    function goToQnaList() {
        window.location.href = "/qna/list";
    }
</script>
</body>
</html>