<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- css -->
    <link rel="stylesheet" href="/css/qna/qnaDetail.css">
    <title>wam/qna</title>
</head>
<body>
<!-- header 영역 참조 -->
<header th:insert="~{/common/header :: header}"></header>

<div class="QnADetail-wrapper page-content">
    <div class="QnADetail-contBox contbox">
        <div class="QnAHeader-wrapper">
            <input type="hidden" id="qnaId" th:value="${qnaId}">
            <div class="D-left-box"><img src="https://cdn4.iconfinder.com/data/icons/christmas-special/512/renne.png" width="55" height="55"></div>
            <div class="D-right-box">
                <p class="D-top"></p>
                <div class="D-bottom">
                    <p class="D-date"></p>
                    <span>|</span>
                    <p class="D-viewCount"><span class="material-symbols-outlined">visibility</span><span class="viewCount-num"></span></p>
                </div>
            </div>
        </div>
        <div class="D-titleBox">
            <p class="D-title"></p>
            <button class="answer-comp btn bs1"></button>
        </div>
        <div class="D-textarea">
        </div>
        <div>
            <div class="D-writer" style="display:none;">
                <button id="updateQnaBtn" class="btn-update btn bs1 bc4">수정</button>
                <button id="deleteQnaBtn" class="btn-delete btn bs1 bc66">삭제</button>
            </div>
            <div class="D-answer">
                <textarea id="answerTextarea" class="input-form" placeholder="답변을 입력해주세요" style="display:none;"></textarea>
                <div id="answerContent" style="display:none">
                    <div>
                        <p class="answer-date"></p>
                        <p class="answer-content"></p>
                    </div>
                </div>
                <button sec:authorize="hasAnyRole('ROLE_ADMIN')" class="btn-answer btn bc4" style="display:none;">답변 작성하기</button>
            </div>
        </div>
    </div>
</div>

<!-- footer 영역 참조 -->
<footer th:insert="~{/common/footer :: footer}"></footer>

<script th:src="@{/js/qna/qnaDetail.js}"></script>
</body>
</html>