<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/qna/qnaList.css}">
    <title>QnAList</title>
</head>
<body>
<!-- header 영역 참조 -->
<header th:insert="~{/common/header :: header}"></header>

<div class="QnAlist-wrapper page-content">
    <div class="QnAlist-ContBox contbox">
        <div class="QnAlist-header"><span>QnA</span></div>
        <div class="QnAlist-inputBox">
            <div class="QnAlist-searchBox">
                <select class="select">
                    <option value="tc">제목+내용</option>
                    <option value="writer">작성자</option>
                </select>
                <!-- QnA 검색창 name : QnAsearch -->
                <input type="text" class="QnAsearch input-form" name="QnAsearch" placeholder="내용을 입력해주세요.">
                <button id="search-btn" class="btn bc3">Search</button>
            </div>
            <button class="writer-btn btn bc6" onclick="goToQnaDetail(event, ${qnaId})">
                <div onclick="goToQnaWrite(event)">
                    <span class="material-symbols-outlined">edit</span>
                    <span>글쓰기</span>
                </div>
            </button>
        </div>
        <div class="tableBox">
            <table id="qnaTable" class="header-list">
                <tr>
                    <th>번호</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>작성일</th>
                    <th>조회수</th>
                    <th>답변</th>
                </tr>
                <tbody id="qnaTableBody">
            </table>
        </div>
        <div class="w3-center">
            <ul id="pagination" class="w3-pagination"></ul>
        </div>
    </div>
</div>

<!-- footer 영역 참조 -->
<footer th:insert="~{/common/footer :: footer}"></footer>

<script th:src="@{/js/common/pagination.js}"></script>
<script th:src="@{/js/qna/qnaList.js}"></script>
<script>
    /*QnA 목록 조회*/
    loadList(0);   //페이지 로드 시 첫 번째 페이지 QnA 목록을 불러옴

    //페이지 로드 시 QnA 목록을 테이블에 표시하는 함수
    function loadList(page) {
        axios.get(`/qna?page=${page}`)
            .then(function(response) {
                var qnaList = response.data.content;
                var tableBody = document.querySelector('#qnaTableBody');

                // DocumentFragment 생성
                var fragment = new DocumentFragment();

                qnaList.forEach(function(qna) {
                    var row = `<tr>
                                <td>${qna.qnaId}</td>
                                <td id="qnaDetail">${qna.title}</td>
                                <td>${qna.nickname}</td>
                                <td>${qna.createDate}</td>
                                <td>${qna.viewCount}</td>
                                <td><button class="answer-btn btn bs1 ${qna.qnaCheck === 'CHECKING' ? 'bc3' : 'bc7'}" style="cursor: default;">${qna.qnaCheck === 'CHECKING' ? '확인 중' : '답변 완료'}</button></td>
                            </tr>`;
                    var tr = document.createElement('tr');
                    tr.innerHTML = row;

                    // 행에 이벤트 리스너 추가
                    tr.querySelector('#qnaDetail').addEventListener('click', function(event) {
                        goToQnaDetail(event, qna.qnaId);
                    });

                    fragment.appendChild(tr);
                });

                // 테이블 내용을 한 번에 추가
                tableBody.innerHTML = '';
                tableBody.appendChild(fragment);

                // 페이지 내비게이션 업데이트
                renderPagination(response.data.totalPages, page);
            })
            .catch(function(error) {
                console.error(error);
            });
    }
</script>
</body>
</html>