<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" th:href="@{/css/qna/qnaList.css}">
    <title>QnA 목록</title>
</head>
<body>
<!-- header 영역 참조 -->
<header th:insert="~{common/header :: header}"></header>

<div class="QnAlist-wrapper page-content">
    <div class="contBox">
        <div class="list-header"><span>QnA</span></div>
        <div class="inputBox">
            <div class="searchBox">
                <input type="text" class="search input-form" onkeyup="enterSearchBtn(event)" placeholder="검색어를 입력해주세요.">
                <button id="searchBtn" class="btn bc4">검색</button>
            </div>
            <button class="writer-btn btn bc6" onclick="goToQnaWrite(event)">
                <div>
                    <span class="material-symbols-outlined">edit</span>
                    <span>글쓰기</span>
                </div>
            </button>
        </div>
        <div class="tableBox">
            <table id="qnaTable" class="header-list">
                <tr>
                    <th>No</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>작성일</th>
                    <th>조회수</th>
                    <th>답변</th>
                </tr>
                <tbody id="qnaTableBody">
            </table>
        </div>
        <div class="w3-center">
            <ul id="pagination" class="w3-pagination"></ul>
        </div>
    </div>
</div>

<!-- footer 영역 참조 -->
<footer th:insert="~{common/footer :: footer}"></footer>

<script th:src="@{/js/common/pagination.js}"></script>
<script th:src="@{/js/qna/qna.js}"></script>
<script th:src="@{/js/qna/qnaList.js}"></script>
</body>
</html>