<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--  jQuery, bootstrap -->
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>
    <!-- summernote css/js-->
    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote.css" rel="stylesheet">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote.js"></script>
    <title>QnAWrite</title>
</head>
<body>
<!-- header 영역 참조 -->
<header th:insert="~{/common/header :: header}"></header>

<div class="QnAWrite-wrapper page-content">
    <div class="contBox">
        <div class="detail-header">
            <div>질문 작성하기</div>
            <div class="header-line"></div>
        </div>
        <div class="detail-body">
            <input type="hidden" id="qnaId">
            <div class="title-box input-box" style="margin-bottom:10px;">
                <input type="text" id="title" class="input-form" placeholder="제목을 입력해주세요" required>
            </div>
            <div class="text-editor">
                <textarea id="summernote"></textarea>
            </div>
            <div class="btn-box">
                <button id="createQnaBtn" class="qna-btn btn bc4">등록</button>
                <button id="updateQnaBtn" class="qna-btn btn bc4" style="display:none;">수정</button>
            </div>
        </div>
    </div>
</div>

<!-- footer 영역 참조 -->
<footer th:insert="~{/common/footer :: footer}"></footer>

<script th:src="@{/js/common/summernote.js}"></script>
<script th:src="@{/js/qna/qnaWrite.js}"></script>
<script>
    getQnaDetail();
    /*수정폼인 경우 QnA 데이터를 가져오는 함수*/
    function getQnaDetail() {
        const qnaId = [[${qnaId}]];
        console.log('수정할 QnA: ' + qnaId);
        document.getElementById('qnaId').value = qnaId;
        //qnaId가 있는 경우에만 서버로부터 데이터 조회
        if (qnaId !== null) {
            //작성폼, 수정폼에 따라 버튼 변경
            showHideElement('#createQnaBtn');
            showHideElement('#updateQnaBtn');

            axios.get('/qna/' + qnaId)
                .then(function (response) {
                    var qnaDetail = response.data;
                    fillQnaDetail(qnaDetail);
                })
                .catch(function (error) {
                    console.error('QnA 정보를 가져오는 중 오류 발생:', error);
                });
        }
    }

    //요소를 보이게 하거나 숨기는 함수
    function showHideElement(element) {
        var element = document.querySelector(element);
        if (element.style.display === 'none') {
            element.style.display = 'block';
        } else {
            element.style.display = 'none';
        }
    }


    //이미지 업로드 요청 함수
    function uploadImage(file) {
        var formData = new FormData();
        formData.append('file', file);

        return axios.post('/qna/image-upload', formData, {
            headers: {
                'Content-Type': 'multipart/form-data'
            }
        });
    }

    //이미지 삭제 요청 함수
    function deleteImage(imgUrl) {
        const formData = new FormData();
        formData.append('fileUrl', imgUrl);

        return axios.post('/qna/image-delete', formData, {
            headers: {
                'Content-Type': 'multipart/form-data'
            }
        });
    }
</script>
</body>
</html>