<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--  jQuery, bootstrap -->
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css" rel="stylesheet">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>
    <!-- summernote css/js-->
    <link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote.css" rel="stylesheet">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote.js"></script>
    <title>QnAWrite</title>
</head>
<body>
<!-- header 영역 참조 -->
<header th:insert="~{/common/header :: header}"></header>

<div class="QnAWrite-wrapper page-content">
    <div class="contBox">
        <div class="detail-header">
            <div>질문 작성하기</div>
            <div class="header-line"></div>
        </div>
        <div class="detail-body">
            <input type="hidden" id="qnaId" th:value="${qnaId}">
            <div class="title-box input-box" style="margin-bottom:10px;">
                <input type="text" id="title" class="input-form" placeholder="제목을 입력해주세요" required>
            </div>
            <div class="text-editor">
                <textarea id="summernote"></textarea>
            </div>
            <div class="btn-box">
                <button id="createQnaBtn" class="qna-btn btn bc4">등록</button>
                <button id="updateQnaBtn" class="qna-btn btn bc4" style="display:none;">수정</button>
            </div>
        </div>
    </div>
</div>

<!-- footer 영역 참조 -->
<footer th:insert="~{/common/footer :: footer}"></footer>

<script th:src="@{/js/common/summernote.js}"></script>
<script th:src="@{/js/qna/qnaWrite.js}"></script>
<script>
    //토큰을 로컬 스토리지에서 가져오기
    const token = localStorage.getItem('accessToken');

    window.onload = function() {
        getQnaDetail();
    };

    /*수정폼인 경우 QnA 데이터를 가져오는 함수*/
    function getQnaDetail() {
        const qnaId = document.getElementById('qnaId').value;
        console.log('수정할 QnA: ' + qnaId);

        document.getElementById('qnaId').value = qnaId;

        //qnaId가 있는 경우에만 서버로부터 데이터 조회
        if (qnaId !== '') {
            //작성폼, 수정폼에 따라 버튼 변경
            showHideElement('#createQnaBtn');
            showHideElement('#updateQnaBtn');

            axios.get('/qna/' + qnaId)
                .then(function (response) {
                    var qnaDetail = response.data;
                    fillQnaDetail(qnaDetail);
                })
                .catch(function (error) {
                    console.error('QnA 정보를 가져오는 중 오류 발생:', error);
                });
        }
    }

    /*QnA 생성*/
    document.getElementById('createQnaBtn').addEventListener('click', function() {
        if (!token) {
            alert("로그인 후 이용해주세요.");
            window.location.href = "/support/list";
            return;
        }

        //QnaRequestDto 객체 생성
        const title = document.getElementById('title').value.trim();
        const content = $('#summernote').summernote('code');

        const qnaReq = {
            title: title,
            content: content,
        };

        //QnA 생성 요청
        axios.post('/qna/', qnaReq, {
            headers: {
                'Authorization': 'Bearer ' + token
            }
        }).then(function(response) {
            alert(response.data);
            window.location.href = "/qna/list";  //목록 페이지로 이동
        })
        .catch(function(error) {
            console.error(error);

            if (error.response && error.response.data && error.response.data.errors) {
                alert(error.response.data.errors[0].message);
            } else {
                alert('서버 요청 중 에러가 발생했습니다.');
            }
        });
    });

    /*QnA 수정*/
    document.getElementById('updateQnaBtn').addEventListener('click', function() {
        if (!token) {
            alert("로그인 후 이용해주세요.");
            window.location.href = "/qna/list";
            return;
        }

        //UpdateQnaRequestDto 객체 생성
        const title = document.getElementById('title').value.trim();
        const content = $('#summernote').summernote('code');

        const updateQnaReq = {
            title: title,
            content: content,
        };

        const qnaId = document.getElementById('qnaId').value;
        console.log('수정할 QnA: ' + qnaId);

        //QnA 수정 요청
        axios.put('/qna/' + qnaId, updateQnaReq, {
            headers: {
                'Authorization': 'Bearer ' + token
            }
        }).then(function(response) {
            console.log(response.data);
            alert(response.data);
            window.location.href = "/qna/detail/" + qnaId;
        })
        .catch(function(error) {
            console.error(error);

            if (error.response && error.response.data && error.response.data.errors) {
                alert(error.response.data.errors[0].message);
            } else {
                alert('서버 요청 중 에러가 발생했습니다.');
            }
        });
    });
</script>
</body>
</html>